.scroll-content___Y0cR {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  touch-action: none;
}
.scroll-content___Y0cR > div:first-child {
  overflow-y: auto;
  position: absolute;
}
.scroll-content___Y0cR .scroll-h-mobile__G0YZA,
.scroll-content___Y0cR .scroll-h__pEBuV,
.scroll-content___Y0cR .scroll-v__WojAz {
  background-color: transparent;
  bottom: 2px;
  position: absolute;
  -webkit-transition: all 0.2s ease-in 0s;
  -moz-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  -ms-transition: all 0.2s ease-in 0s;
  transition: all 0.2ms ease 0s;
  z-index: 200;
}
.scroll-content___Y0cR .scroll-h-mobile__G0YZA:active .scroll-h-track__hXbMW,
.scroll-content___Y0cR .scroll-h-mobile__G0YZA:active .scroll-v-track__zmPhi,
.scroll-content___Y0cR .scroll-h-mobile__G0YZA:hover .scroll-h-track__hXbMW,
.scroll-content___Y0cR .scroll-h-mobile__G0YZA:hover .scroll-v-track__zmPhi,
.scroll-content___Y0cR .scroll-h__pEBuV:active .scroll-h-track__hXbMW,
.scroll-content___Y0cR .scroll-h__pEBuV:active .scroll-v-track__zmPhi,
.scroll-content___Y0cR .scroll-h__pEBuV:hover .scroll-h-track__hXbMW,
.scroll-content___Y0cR .scroll-h__pEBuV:hover .scroll-v-track__zmPhi,
.scroll-content___Y0cR .scroll-v__WojAz:active .scroll-h-track__hXbMW,
.scroll-content___Y0cR .scroll-v__WojAz:active .scroll-v-track__zmPhi,
.scroll-content___Y0cR .scroll-v__WojAz:hover .scroll-h-track__hXbMW,
.scroll-content___Y0cR .scroll-v__WojAz:hover .scroll-v-track__zmPhi {
  background-color: var(--scroll_track_bg);
}
.scroll-content___Y0cR .scroll-h-mobile__G0YZA .scroll-h-thumb__hLYB5,
.scroll-content___Y0cR .scroll-h-mobile__G0YZA .scroll-v-thumb__ysDnY,
.scroll-content___Y0cR .scroll-h__pEBuV .scroll-h-thumb__hLYB5,
.scroll-content___Y0cR .scroll-h__pEBuV .scroll-v-thumb__ysDnY,
.scroll-content___Y0cR .scroll-v__WojAz .scroll-h-thumb__hLYB5,
.scroll-content___Y0cR .scroll-v__WojAz .scroll-v-thumb__ysDnY {
  background-color: var(--scroll_thumb_bg);
  border-radius: 2px;
  position: absolute;
}
.scroll-content___Y0cR .scroll-h-mobile__G0YZA .scroll-h-thumb__hLYB5:active,
.scroll-content___Y0cR .scroll-h-mobile__G0YZA .scroll-h-thumb__hLYB5:hover,
.scroll-content___Y0cR .scroll-h-mobile__G0YZA .scroll-v-thumb__ysDnY:active,
.scroll-content___Y0cR .scroll-h-mobile__G0YZA .scroll-v-thumb__ysDnY:hover,
.scroll-content___Y0cR .scroll-h__pEBuV .scroll-h-thumb__hLYB5:active,
.scroll-content___Y0cR .scroll-h__pEBuV .scroll-h-thumb__hLYB5:hover,
.scroll-content___Y0cR .scroll-h__pEBuV .scroll-v-thumb__ysDnY:active,
.scroll-content___Y0cR .scroll-h__pEBuV .scroll-v-thumb__ysDnY:hover,
.scroll-content___Y0cR .scroll-v__WojAz .scroll-h-thumb__hLYB5:active,
.scroll-content___Y0cR .scroll-v__WojAz .scroll-h-thumb__hLYB5:hover,
.scroll-content___Y0cR .scroll-v__WojAz .scroll-v-thumb__ysDnY:active,
.scroll-content___Y0cR .scroll-v__WojAz .scroll-v-thumb__ysDnY:hover {
  background-color: var(--scroll_thumb_hover_bg);
  border-radius: 4px;
  opacity: 0.8;
}
.scroll-content___Y0cR .scroll-v__WojAz {
  right: 2px;
  top: 2px;
  width: 16px;
}
.scroll-content___Y0cR .scroll-v__WojAz .scroll-v-track__zmPhi {
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
}
.scroll-content___Y0cR
  .scroll-v__WojAz
  .scroll-v-track__zmPhi
  .scroll-v-thumb__ysDnY {
  cursor: s-resize;
  height: 100px;
  right: 0;
  top: 0;
  width: 6px;
}
.scroll-content___Y0cR .scroll-v__WojAz.touch___padY,
.scroll-content___Y0cR .scroll-v__WojAz.touch___padY .scroll-v-track__zmPhi,
.scroll-content___Y0cR
  .scroll-v__WojAz.touch___padY
  .scroll-v-track__zmPhi
  .scroll-v-thumb__ysDnY,
.scroll-content___Y0cR
  .scroll-v__WojAz:not(.touch___padY):active
  .scroll-v-track__zmPhi,
.scroll-content___Y0cR
  .scroll-v__WojAz:not(.touch___padY):active
  .scroll-v-track__zmPhi
  .scroll-v-thumb__ysDnY,
.scroll-content___Y0cR
  .scroll-v__WojAz:not(.touch___padY):hover
  .scroll-v-track__zmPhi,
.scroll-content___Y0cR
  .scroll-v__WojAz:not(.touch___padY):hover
  .scroll-v-track__zmPhi
  .scroll-v-thumb__ysDnY {
  width: 16px;
}
.scroll-content___Y0cR .scroll-h__pEBuV {
  height: 16px;
  left: 2px;
  right: 12px;
}
.scroll-content___Y0cR .scroll-h__pEBuV .scroll-h-track__hXbMW {
  bottom: 0;
  height: 16px;
  left: 0;
  position: absolute;
  right: 0;
}
.scroll-content___Y0cR
  .scroll-h__pEBuV
  .scroll-h-track__hXbMW
  .scroll-h-thumb__hLYB5 {
  bottom: 0;
  cursor: w-resize;
  height: 6px;
  left: 0;
  width: 100px;
}
.scroll-content___Y0cR .scroll-h__pEBuV.touch___padY,
.scroll-content___Y0cR .scroll-h__pEBuV.touch___padY .scroll-h-track__hXbMW,
.scroll-content___Y0cR
  .scroll-h__pEBuV.touch___padY
  .scroll-h-track__hXbMW
  .scroll-h-thumb__hLYB5,
.scroll-content___Y0cR
  .scroll-h__pEBuV:not(.touch___padY):active
  .scroll-h-track__hXbMW,
.scroll-content___Y0cR
  .scroll-h__pEBuV:not(.touch___padY):active
  .scroll-h-track__hXbMW
  .scroll-h-thumb__hLYB5,
.scroll-content___Y0cR
  .scroll-h__pEBuV:not(.touch___padY):hover
  .scroll-h-track__hXbMW,
.scroll-content___Y0cR
  .scroll-h__pEBuV:not(.touch___padY):hover
  .scroll-h-track__hXbMW
  .scroll-h-thumb__hLYB5 {
  height: 16px;
}
.scroll-content___Y0cR.popup-window__l9yp4 .scroll-h__pEBuV,
.scroll-content___Y0cR.popup-window__l9yp4 .scroll-v__WojAz {
  z-index: 100001;
}
.scroll-content___Y0cR.dashboard__qZhsR {
  background-color: var(--dashboard_bg);
}
.scroll-content___Y0cR.simple-scheduler__GMehv {
  left: 0;
}
.scroll-content___Y0cR.lookup__K32eF {
  background: var(--lookup_auto_bg);
  border: var(--lookup_auto_border);
  border-radius: 12px;
  box-shadow: var(--theme_shadow);
  -webkit-box-shadow: var(--theme_shadow);
  -moz-box-shadow: var(--theme_shadow);
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 200002;
}
.scroll-content___Y0cR.left-offset-nav-expanded__wReUR {
  left: calc(var(--nav_form_width) + 8px);
}
.scroll-content___Y0cR.left-offset-nav-collapsed__ESlbe {
  left: calc(var(--nav_form_collapsed_width) + 8px);
}
.scroll-content___Y0cR.legend-scroll-h__JvAew,
.scroll-content___Y0cR.legend-scroll-v___B4nC {
  position: relative !important;
}
.scroll-content___Y0cR.legend-scroll-v___B4nC {
  width: 100%;
}
.scroll-content___Y0cR.legend-scroll-h__JvAew {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.scroll-content-premium__mIYNz {
  background-color: var(--scroll_content_bg);
}
.scroll-content-premium__mIYNz.dashboard__qZhsR {
  background-color: var(--scroll_dashboard_content_bg);
}
.scroll-content-premium__mIYNz.transparent__Zudzw {
  background-color: transparent;
}
.scroll-content-premium__mIYNz.left-offset-nav-expanded__wReUR {
  left: calc(var(--nav_form_width) + 8px);
}
.scroll-content-premium__mIYNz.left-offset-nav-collapsed__ESlbe {
  left: calc(var(--nav_form_collapsed_width) + 8px);
}
.scroll-content-premium__mIYNz.legend-scroll-h__JvAew,
.scroll-content-premium__mIYNz.legend-scroll-v___B4nC {
  position: relative !important;
}
.scroll-content-premium__mIYNz.legend-scroll-v___B4nC {
  width: 100%;
}
.scroll-content-premium__mIYNz.legend-scroll-h__JvAew {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.scroll-content__Kubgg {
  bottom: 10px;
  left: 10px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 0;
}
.scroll-content__Kubgg > div:first-child {
  overflow-y: auto;
  position: absolute;
}
.scroll-content__Kubgg .scroll-h__OH4Us,
.scroll-content__Kubgg .scroll-v__LnCmY {
  background-color: var(--scroll_con_bg);
  bottom: 2px;
  position: absolute;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  transition: all 0.2s ease 0s;
  z-index: 200;
}
.scroll-content__Kubgg .scroll-h__OH4Us .icon__ZtpSL,
.scroll-content__Kubgg .scroll-v__LnCmY .icon__ZtpSL {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--scroll_icon_bg);
  border: var(--scroll_icon_border);
  border-radius: 8px;
  box-shadow: var(--scroll_icon_shadow);
  height: 100px;
  width: 100px;
}
.scroll-content__Kubgg .scroll-h__OH4Us .icon__ZtpSL svg,
.scroll-content__Kubgg .scroll-v__LnCmY .icon__ZtpSL svg {
  height: 60px;
  width: 60px;
}
.scroll-content__Kubgg .scroll-h__OH4Us .icon__ZtpSL svg path,
.scroll-content__Kubgg .scroll-v__LnCmY .icon__ZtpSL svg path {
  fill: var(--scroll_icon_fg);
}
.scroll-content__Kubgg .scroll-v__LnCmY {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: stretch;
  -ms-flex-align: center;
  padding: 100px 0;
  right: 2px;
  top: 2px;
  width: 100px;
}
.scroll-content__Kubgg .scroll-h__OH4Us,
.scroll-content__Kubgg .scroll-v__LnCmY {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
}
.scroll-content__Kubgg .scroll-h__OH4Us {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: stretch;
  -ms-flex-align: center;
  height: 100px;
  left: 2px;
  padding: 0 100px;
  right: 12px;
}
.scroll-content__Kubgg.popup-window__JmhqU .scroll-h__OH4Us,
.scroll-content__Kubgg.popup-window__JmhqU .scroll-v__LnCmY {
  z-index: 100001;
}
.scroll-content__Kubgg.simple-scheduler__flxQu {
  background-color: inherit;
  left: 0;
}
.scroll-content__Kubgg.lookup__o4wed {
  background: var(--lookup_auto_bg);
  border-radius: 20px;
  box-shadow: 2px 3px 3px -1px var(--theme_shadow);
  box-shadow: var(--lookup_auto_shadow);
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 200002;
}
@keyframes shimmer__wO_Lq {
  0% {
    background-position: -200% 0;
  }
  to {
    background-position: 200% 0;
  }
}
.image__jHVBc {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  align-content: center;
  height: inherit;
  width: inherit;
}
.image__jHVBc .lazy-shimmer__h4Z74 {
  animation: shimmer__wO_Lq 1.5s infinite;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  inset: 0;
  position: absolute;
}
.image__jHVBc .lazy-spinner__BPEEK {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: inherit;
  width: inherit;
}
.image__jHVBc .lazy-spinner__BPEEK svg {
  height: 100%;
  width: 36px;
}
.image__jHVBc .lazy-spinner__BPEEK svg rect {
  fill: var(--indicator_value_icon);
}
.image__jHVBc img {
  display: block;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}
@keyframes shimmer__Q5OS8 {
  0% {
    background-position: -200% 0;
  }
  to {
    background-position: 200% 0;
  }
}
.image__IdvEQ {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  align-content: center;
  height: inherit;
  width: inherit;
}
.image__IdvEQ .lazy-shimmer__zRB6e {
  animation: shimmer__Q5OS8 1.5s infinite;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  inset: 0;
  position: absolute;
}
.image__IdvEQ .lazy-spinner__dxUrq {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: inherit;
  width: inherit;
}
.image__IdvEQ .lazy-spinner__dxUrq svg {
  height: 100%;
  width: 36px;
}
.image__IdvEQ .lazy-spinner__dxUrq svg rect {
  fill: var(--indicator_value_icon);
}
.image__IdvEQ img {
  display: block;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}
.editor-memo__t8_Sh {
  -webkit-align-items: flex-start;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: start;
  -webkit-align-content: center;
  align-items: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.editor-memo__t8_Sh .tooltipHolder__U3DF3 {
  color: var(--input_tooltip_fg);
  font-size: var(--font_size_label);
  font-weight: 300;
  line-height: 26px;
}
.editor-memo__t8_Sh:focus-within .content__mXJsd {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.editor-memo__t8_Sh .content__mXJsd {
  background-color: var(--input_bg);
  border: var(--emt_border);
  border-radius: 8px;
  height: inherit;
  position: absolute;
}
.editor-memo__t8_Sh .content__mXJsd textarea {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--input_fg);
  font-family: var(--defaultFont);
  font-size: 9pt;
  font-weight: 500;
  height: inherit;
  line-height: 22px;
  margin-bottom: 4px;
  outline: none;
  padding: 4px;
  resize: none;
  text-align: left;
  width: 100%;
}
.editor-memo__t8_Sh .content__mXJsd textarea.clearable__AHgve {
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 160'><path style='fill:var(--neutral_400);' d='M 6.8496094,0 A 6.8518967,6.8518967 0 0 0 2.0761719,11.765625 L 70.310547,80 2.0761719,148.23438 a 6.8518967,6.8518967 0 1 0 9.6894531,9.68945 L 80,89.689453 148.23438,157.92383 a 6.8518967,6.8518967 0 1 0 9.68945,-9.68945 L 89.689453,80 157.92383,11.765625 A 6.8518967,6.8518967 0 1 0 148.23438,2.0761719 L 80,70.310547 11.765625,2.0761719 A 6.8518967,6.8518967 0 0 0 6.8496094,0 Z'/></svg>");
  background-position: right -16px top 4px;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  padding: 0 18px 0 10px !important;
}
.editor-memo__t8_Sh .content__mXJsd textarea.clearable__AHgve.X__nzUHN {
  transition: background 0.5s;
}
.editor-memo__t8_Sh .content__mXJsd textarea.clearable__AHgve.onX__B1LfM {
  cursor: pointer;
}
.editor-memo__t8_Sh .content__mXJsd textarea.clearable__AHgve::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}
.editor-memo__t8_Sh .content__mXJsd textarea.clearable__AHgve.X__nzUHN {
  background-position: right 5px top 5px;
}
.editor-memo__t8_Sh .content__mXJsd.disabled__r01ua {
  border: var(--input_border_disabled);
}
.editor-memo__t8_Sh .content__mXJsd.disabled__r01ua textarea {
  background-color: var(--input_disabled_bg);
  //color: var(--input_disabled_fg);
}
.editor-memo__t8_Sh.vertical__aiTAd {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.editor-memo__t8_Sh.vertical__aiTAd .content__mXJsd {
  -webkit-align-items: flex-end;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  background-color: transparent;
  height: 100%;
  justify-content: flex-end;
  margin-top: 4px;
  position: relative;
  width: 100%;
}
.editor-memo__t8_Sh.vertical__aiTAd .content__mXJsd textarea {
  background-color: var(--emt_bg);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 0;
  padding: 8px 16px;
}
.editor-memo__t8_Sh.vertical__aiTAd .disabled__r01ua textarea {
  background-color: var(--input_disabled_bg);
  padding: 8px 16px;
}
.editor-memo__t8_Sh.vertical__aiTAd .disabled__r01ua textarea:focus-visible {
  box-shadow: none;
  outline: none;
}
.editor-memo__t8_Sh.focused____e0m .content__mXJsd {
  border: none;
}
.editor-memo__t8_Sh textarea:focus,
.editor-memo__t8_Sh textarea:valid {
  box-shadow: none;
  outline: none;
}
.editor-date__pXDRP .input-textRight__eHQvb input {
  text-align: left;
}
.editor-memo__t8_Sh:not(.warning__KPb96):not(.error__BJiIw).focused____e0m:not(
    .vertical__aiTAd
  )
  .content__mXJsd {
  -moz-box-shadow: 0 0 3px 1px var(--theme_darkprimary_fg);
  -webkit-box-shadow: 0 0 3px 1px var(--theme_darkprimary_fg);
  box-shadow: 0 0 3px 1px var(--theme_darkprimary_fg);
}
.editor-memo__t8_Sh:not(.warning__KPb96):not(.error__BJiIw).focused____e0m
  .vertical-border__VwxGS {
  border: var(--input_vertical_focused_border);
}
.editor-memo__t8_Sh.error__BJiIw .content__mXJsd {
  box-shadow: var(--input_error_shadow);
}
.editor-memo__t8_Sh.warning__KPb96 .content__mXJsd {
  box-shadow: var(--input_warning_shadow);
}
.editor-memo-premium__ewFww:not(.warning__KPb96):not(
    .error__BJiIw
  ).focused____e0m
  .content__mXJsd {
  border: var(--input_focused_border);
  border-radius: 4px;
  box-shadow: none !important;
}
.editor-memo-premium__ewFww:not(.warning__KPb96):not(
    .error__BJiIw
  ).focused____e0m
  .content__mXJsd
  .icon__ytcXG
  svg
  path {
  fill: var(--input_icon_fg);
}
.editor-memo-premium__ewFww:not(.warning__KPb96):not(.error__BJiIw):not(
    .focused____e0m
  )
  .content__mXJsd {
  border: var(--emt_border);
  border-radius: 4px;
  box-shadow: var(--input_shadow);
}
.editor-memo-premium__ewFww:not(.warning__KPb96):not(.error__BJiIw)
  .content__mXJsd.disabled__r01ua {
  border: var(--input_border_disabled);
}
.editor-memo-premium__ewFww:not(.warning__KPb96):not(.error__BJiIw)
  .content__mXJsd
  textarea {
  font-size: 10pt;
}
.editor-memo__Ap86J {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: flex-end;
  justify-content: center;
  -ms-flex-align: flex-end;
  -webkit-align-content: center;
  align-items: flex-end;
  -ms-flex-line-pack: center;
  align-content: center;
  border: var(--field_border);
  border-radius: 4px;
  color: var(--input_fg);
  height: calc(100% - 12px);
  position: relative;
  width: 100%;
}
.editor-memo__Ap86J .label__eOms_ {
  background-color: var(--group_bg);
  left: 35px;
  position: absolute;
  top: 0;
}
.editor-memo__Ap86J .content__Kcmcb {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 100%;
  padding: 0 10px;
  width: 100%;
}
.editor-memo__Ap86J .content__Kcmcb textarea {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  font-family: var(--defaultFont);
  font-size: 26px;
  height: calc(100% - 20px);
  overflow: hidden;
  padding: 0;
  resize: none;
  text-align: left;
  width: 100%;
}
.editor-memo__Ap86J .content__Kcmcb.disabled__gx9WG textarea {
  //color: var(--input_disabled_fg);
}
.editor-memo__Ap86J.focused__YkFAB .content__Kcmcb {
  border: none;
}
.editor-memo__Ap86J textarea:focus,
.editor-memo__Ap86J textarea:valid {
  box-shadow: none;
  outline: none;
}
.editor-date__I7PXU .input-textRight__TdSNm input {
  text-align: left;
}
.tc-overlay__NchaR {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background-color: var(--threads_modal_overlay_bg);
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 190000;
}
.tc-con__c1TLm,
.tc-overlay__NchaR {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.tc-con__c1TLm {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: center;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -webkit-align-content: flex-start;
  align-items: flex-end;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  background-color: var(--threads_modal_con_bg);
  border-radius: 2px;
  height: 50%;
  margin: 20px;
  min-height: 200px;
  padding: 20px 20px 5px;
  width: calc(90% - 40px);
}
.tc-btns-con__phCJD {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: stretch;
  gap: 8px;
  height: 48px;
  width: 100%;
}
.btn-c__e9qJM,
.btn-s__oGzZ9,
.tc-btns-con__phCJD {
  -webkit-align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-content: stretch;
  align-items: center;
}
.btn-c__e9qJM,
.btn-s__oGzZ9 {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--primaryFont);
  font-size: 16px;
  height: 32px;
  width: 92px;
}
.btn-c__e9qJM:active,
.btn-s__oGzZ9:active {
  background: var(--th_btn_active_bg);
  border: var(--th_btn_active_border);
}
.btn-c__e9qJM {
  background-color: var(--th_btn_cancel_bg);
  border: var(--th_btn_cancel_border);
  color: var(--th_btn_cancel_fg);
  margin-right: 20px;
}
.btn-c__e9qJM:hover {
  background: var(--th_btn_cancel_hover);
}
.btn-s__oGzZ9 {
  background-color: var(--th_btn_save_bg);
  color: var(--th_btn_save_fg);
  font-size: var(--th_btn_save_fs);
}
.btn-s__oGzZ9:hover {
  background: var(--th_btn_save_hover);
}
.status-picker__i56wQ {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-items: center;
  justify-content: flex-start;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  width: 180px;
}
.status-picker__i56wQ:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.status-picker__i56wQ .caption__RksbV {
  border-bottom: 1px solid var(--theme_editor_label_border);
  color: var(--picker_color);
  height: inherit;
  margin-right: 5px;
  width: 40px;
}
.status-picker__i56wQ .status-button__UYE9M {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-items: center;
  justify-content: flex-start;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background-color: var(--status_picker_bg);
  border-radius: 2px;
  box-shadow: var(--picker_button_shadow);
  font-size: 13px;
  height: 24px;
  text-align: center;
  width: 123px;
}
.status-picker__i56wQ .status-button__UYE9M .title__QhLIc {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  justify-content: center;
  -ms-flex-align: start;
  -webkit-align-content: flex-start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  color: var(--picker_color);
  font-family: FiraSans;
  height: inherit;
  padding: 0 4px;
}
.status-picker__i56wQ.active__lHZxA {
  box-shadow: var(--picker_active_shadow);
}
.status-items__vWkul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  justify-content: center;
  -ms-flex-align: start;
  -webkit-align-content: flex-start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  background-color: var(--status_picker_items_bg);
  border: var(--status_picker_border);
  box-shadow: var(--picker_button_hover_shadow);
  left: 0;
  margin-top: 1px;
  position: absolute;
  top: 24px;
  width: 180px;
}
.status-items__vWkul .item__ZQA_P {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-items: center;
  justify-content: flex-start;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background-color: var(--status_picker_item_bg);
  border-left: var(--status_picker_item_border);
  height: 24px;
  width: inherit;
}
.status-items__vWkul .item__ZQA_P:hover {
  background-color: var(--status_picker_item_hover);
  border-left: var(--status_picker_item_border_hover);
  cursor: var(--status_picker_cursor);
}
.status-items__vWkul .item__ZQA_P .item-text__kp4l9 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  justify-content: center;
  -ms-flex-align: start;
  -webkit-align-content: flex-start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  color: var(--picker_color);
  font-family: FiraSans;
  font-size: 13px;
  height: inherit;
  padding: 0 5px;
  width: calc(100% - 20px);
}
.th-main__vOrrN {
  background-color: var(--threadscommends_main_bg);
  border: 1px solid transparent;
  height: 100%;
  padding: 10px 25px 10px 10px;
  position: absolute;
  width: 100%;
}
.th-main__vOrrN:focus-visible {
  border: var(--focus_border);
  box-shadow: none;
  outline: none;
}
.th-panel__Pgumo {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-items: flex-start;
  justify-content: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  margin-bottom: 10px;
}
.th-panel__Pgumo,
.th-panel__Pgumo .th-panel-btn___x3Yn {
  -webkit-align-content: stretch;
  align-content: stretch;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 32px;
}
.th-panel__Pgumo .th-panel-btn___x3Yn {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-align-items: center;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  background-color: var(--threadscommends_panel_bg);
  border: var(--threadscommends_panel_border);
  color: var(--threadscommends_panel_color);
  font-size: 12px;
  padding: 0 8px;
  width: 100%;
}
.th-panel__Pgumo .th-panel-btn___x3Yn:hover {
  background-color: var(--threadscommends_panel_hover_bg);
  color: var(--threadscommends_panel_hover_color);
}
.th-panel__Pgumo .th-panel-btn___x3Yn .th-btn-text__lBsv4 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-items: center;
  justify-content: flex-start;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.th-panel__Pgumo .th-panel-btn___x3Yn .th-btn-icon__Md6GU {
  height: 16px;
  width: 24px;
}
.th-panel__Pgumo .th-panel-btn___x3Yn .th-btn-icon__Md6GU svg {
  height: 16px;
  width: 16px;
}
.th-panel__Pgumo .th-panel-btn___x3Yn .th-btn-icon__Md6GU svg path {
  stroke: var(--threadscommends_panel_icon_color);
  stroke-width: 0.5px;
}
.tc-con__NhFvL {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: flex-end;
  justify-content: center;
  -ms-flex-align: end;
  -webkit-align-content: flex-start;
  align-items: flex-end;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  background-color: var(--threadscommends_con_bg);
  border-radius: 2px;
  height: 50%;
  margin: 20px;
  min-height: 200px;
  padding: 20px 20px 5px;
  width: calc(90% - 40px);
}
.tc-btns-con__IOF71 {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: stretch;
  gap: 8px;
  height: 48px;
  width: 100%;
}
.btn-c__YSCmK,
.btn-s__u3a7D,
.tc-btns-con__IOF71 {
  -webkit-align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-content: stretch;
  align-items: center;
}
.btn-c__YSCmK,
.btn-s__u3a7D {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--primaryFont);
  font-size: 16px;
  height: 32px;
  width: 92px;
}
.btn-c__YSCmK {
  background-color: var(--th_btn_cancel_bg);
  border: var(--th_btn_cancel_border);
  color: var(--th_btn_cancel_fg);
  margin-right: 20px;
}
.btn-s__u3a7D {
  background-color: var(--th_btn_save_bg);
  color: var(--th_btn_save_fg);
}
