.menu-item__ILfrA {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  border-radius: 8px;
  color: var(--profile_menu_item_fg);
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 16px;
  height: 36px;
  padding: 4px 8px;
  width: 100%;
}
.menu-item__ILfrA.version__NYWwC {
  color: var(--profile_menu_version_fg);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 22px;
}
.menu-item__ILfrA:not(.non-clickable__OJz7F) {
  cursor: pointer;
}
.menu-item__ILfrA.focus__z7jN1:not(:hover) {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.menu-item__ILfrA:hover:not(.non-clickable__OJz7F) {
  background: var(--lookup_item_hover_bg);
  color: var(--lookup_item_hover_fg);
}
.menu-item__ILfrA:not(.premium__EsfNv) {
  display: block;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-item__ILfrA.premium__EsfNv {
  border-radius: 4px;
  font-size: 10pt;
  height: 30px;
  padding: 0 5px;
  width: 95%;
}
.menu-item__ILfrA.premium__EsfNv:hover:not(.non-clickable__OJz7F) {
  background: var(--profile_menu_item_hover_premium_bg);
  color: var(--profile_menu_item_hover_premium_color);
}
.menu-item__OpENQ {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-content: stretch;
  justify-content: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 2px solid transparent;
  color: var(--profile_menu_fg);
  height: 36px;
  overflow: hidden;
  padding: 4px 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.menu-item__OpENQ:not(.non-clickable__nGHrJ) {
  cursor: pointer;
}
.menu-item__OpENQ.version__kIQox {
  color: var(--profile_menu_version_fg);
  font-size: 14px;
  font-weight: 500;
}
.menu-item__OpENQ.logout__Pnoa3 {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  color: var(--profile_menu_logout_fg);
  font-weight: 500;
  gap: 8px;
  justify-content: center;
}
.menu-item__OpENQ.logout__Pnoa3 .logout-icon__fyxaP {
  height: 16px;
  width: 16px;
}
.menu-item__OpENQ.logout__Pnoa3 .logout-icon__fyxaP svg {
  width: 16px;
}
.menu-item__OpENQ.logout__Pnoa3 .logout-icon__fyxaP svg path {
  fill: var(--profile_menu_logout_fg);
}
.command__rKcdY {
  background-color: var(--command_form_bg);
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  box-shadow: 1.2px 1.2px 3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  transition: all 0.2s ease 0s;
  -ms-flex-pack: start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.command__rKcdY,
.command__rKcdY .content__rSf05 {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  position: absolute;
}
.command__rKcdY .content__rSf05 {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.command__rKcdY .content__rSf05 .icon__v84_Y {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-height: 61%;
  max-width: 61%;
}
.command__rKcdY .content__rSf05 .icon__v84_Y svg {
  height: 100%;
  width: 100%;
}
.command__rKcdY .content__rSf05 .icon__v84_Y svg path {
  fill: var(--command_form_fg);
}
.command__rKcdY .content__rSf05 .title__bc8ox {
  color: var(--command_form_fg);
  float: left;
  height: 40%;
  padding-left: 0;
  text-align: center;
  width: 100%;
}
.command__rKcdY .content__rSf05 .icon__v84_Y + .title__bc8ox {
  margin-top: 6%;
  padding-left: 10px;
  text-align: left;
  width: calc(100% - 26px);
}
.command__rKcdY.disabled___Z53h {
  background-color: var(--command_disabled_bg);
  opacity: var(--command_disabled_opacity);
}
.command__rKcdY .content__rSf05,
.command__rKcdY .content__rSf05 .icon__v84_Y + .title__bc8ox {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.command__rKcdY .content__rSf05 .icon__v84_Y + .title__bc8ox {
  color: var(--command_form_fg);
  font-size: 14px;
  font-weight: 400;
  height: inherit;
  line-height: 16px;
  overflow: hidden;
  padding: 0 2px;
  text-align: center;
  width: 100%;
}
.command__rKcdY .content__rSf05 .title__bc8ox {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}
.command__rKcdY .content__rSf05 .title__bc8ox.left__RvOzX {
  align-items: flex-start;
  padding-left: 10px;
  text-align: start;
}
.command__rKcdY .content__rSf05 .s-icon__WuwB6,
.command__rKcdY .content__rSf05 .title__bc8ox.center__ID6_4 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.command__rKcdY .content__rSf05 .s-icon__WuwB6 {
  height: 100%;
  width: 28px;
}
.command__rKcdY .content__rSf05 .s-icon__WuwB6 svg {
  height: 28px;
  width: 28px;
}
.command__rKcdY .content__rSf05 .s-icon__WuwB6 svg path {
  fill: var(--command_form_fg);
}
.command__rKcdY.primary__r6BDI {
  background-color: var(--command_important_bg);
}
.command__rKcdY.primary__r6BDI .content__rSf05 .title__bc8ox {
  color: var(--command_important_fg);
}
.command__rKcdY.primary__r6BDI .content__rSf05 .icon__v84_Y svg path {
  fill: var(--command_important_fg);
}
.command__rKcdY.simple-command__e2U2f .content__rSf05 .title__bc8ox {
  font-size: 24px;
  height: unset;
  line-height: 24px;
}
.label__wuzQe {
  border-bottom: 1px solid var(--theme_editor_label_border);
  color: var(--theme_editor_label_fg);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: var(--font_size_label);
  font-weight: 300;
  -webkit-justify-content: center;
  line-height: var(--font_size_label);
  max-height: 100%;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  justify-content: center;
  -ms-flex-align: start;
  -webkit-align-content: stretch;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.label__wuzQe .phc__dcOiO {
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__wuzQe .pht__HxN3B {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  cursor: help;
  height: inherit;
}
.label__wuzQe .pht__HxN3B svg {
  height: 14px;
  width: 14px;
}
.label__wuzQe .pht__HxN3B svg path {
  fill: var(--input_icon_fg);
}
.label__wuzQe.multiline__ZjIzV {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-items: flex-end;
  justify-content: flex-start;
  -ms-flex-align: end;
  -webkit-align-content: stretch;
  align-items: flex-end;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  justify-content: space-around;
  line-height: var(--font_size_label);
  overflow: hidden;
  padding-bottom: 6px;
  text-overflow: unset;
  white-space: normal;
}
.label__wuzQe.multiline__ZjIzV .phc__dcOiO {
  line-height: 1.1em;
  overflow: hidden;
  position: unset;
  text-overflow: unset;
  white-space: normal;
}
.label__wuzQe.multiline__ZjIzV .pht__HxN3B {
  height: unset;
}
.label__wuzQe.disabled__nZ9zg {
  color: var(--theme_editor_label_disabled_fg);
}
.label__wuzQe.multiline__ZjIzV {
  padding-bottom: 0;
}
.label__wuzQe:not(.multiline__ZjIzV) span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__wuzQe span {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  min-width: 0;
  width: 100%;
}
.label__wuzQe .tooltip-icon__G_FGj {
  cursor: pointer;
  padding: 4px;
  position: absolute;
  right: 0;
  top: calc(50% - 9px);
}
.label__wuzQe .tooltip-icon__G_FGj svg {
  height: 10px;
  width: 10px;
}
.label__wuzQe .tooltip-icon__G_FGj svg path {
  fill: var(--tooltip_icon);
}
.label__wuzQe.v-label__a6wM7 {
  background-color: var(--input_text_editor_bg);
  border-radius: 12px;
  font-size: 12px;
  line-height: 16px;
  max-width: calc(100% - 16px);
  padding: 0 5px;
  position: relative;
  z-index: 3;
}
.label__wuzQe.v-label__a6wM7.has-tooltip-icon__vo70D {
  padding-right: 19px;
}
.label__wuzQe.v-label__a6wM7.has-tooltip-icon__vo70D .tooltip-icon__G_FGj {
  right: 0;
  top: calc(50% - 11px);
}
.label__wuzQe.bold__gKk5E {
  font-weight: 600;
}
.label__wuzQe.center__iNZ3n {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.label__wuzQe.center__iNZ3n + .icon__JY8GX {
  bottom: 0;
  height: 26px;
  top: unset;
}
.label__wuzQe.right-label__Cl35n {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative !important;
  width: unset !important;
}
.label__wuzQe.right-label__Cl35n.multiline__ZjIzV {
  text-align: right;
}
.label__wuzQe:not(.v-label__a6wM7).multiline__ZjIzV {
  line-height: 15px;
  text-overflow: unset;
  white-space: normal;
}
.label__wuzQe.warninglabel__bW12g {
  color: var(--field_warning_label_fg) !important;
}
.label__wuzQe.checkbox__Qsntc.v-label__a6wM7,
.label__wuzQe.radio__JV3KX.v-label__a6wM7 {
  border-radius: 0;
  display: block;
  font-size: 12px;
  font-weight: 300;
  max-width: calc(100% - 32px);
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__wuzQe.checkbox__Qsntc.v-label__a6wM7,
.label__wuzQe.checkbox__Qsntc.v-label__a6wM7.disabled__nZ9zg,
.label__wuzQe.memotext__x8U1X.v-label__a6wM7,
.label__wuzQe.memotext__x8U1X.v-label__a6wM7.disabled__nZ9zg,
.label__wuzQe.radio__JV3KX.v-label__a6wM7,
.label__wuzQe.radio__JV3KX.v-label__a6wM7.disabled__nZ9zg,
.label__wuzQe.richedit__OzE63.v-label__a6wM7,
.label__wuzQe.richedit__OzE63.v-label__a6wM7.disabled__nZ9zg {
  background-color: transparent;
}
.label__wuzQe:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.cp-label__F8gkb {
  color: var(--cp_box_fg);
  position: relative !important;
  width: 75px;
}
.clickable__F1ZA5:not(.disabled__nZ9zg) {
  cursor: pointer;
}
.label__fba5D {
  color: var(--editorlabel_topside_fg);
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: var(--font_size_label);
  font-weight: 300;
  -webkit-justify-content: center;
  max-height: 100%;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  justify-content: center;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  height: auto;
  left: 12px;
  position: relative;
  top: 0;
}
.label__fba5D,
.label__fba5D.multiline__j2Jzw {
  -webkit-align-content: stretch;
  align-content: stretch;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  line-height: var(--font_size_label);
}
.label__fba5D.multiline__j2Jzw {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: stretch;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  justify-content: space-around;
  overflow: hidden;
  padding-bottom: 6px;
}
.label__fba5D.disabled__rqR01 {
  color: var(--editorlabel_disabled_fg);
}
.label__fba5D span {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -ms-flex-pack: center;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  min-width: 0;
  width: 100%;
}
.label__fba5D .tooltip-icon__Om6J9 {
  cursor: pointer;
  padding: 4px;
  position: absolute;
  right: -20px;
  top: calc(50% - 9px);
}
.label__fba5D .tooltip-icon__Om6J9 svg {
  height: 10px;
  width: 10px;
}
.label__fba5D .tooltip-icon__Om6J9 svg path {
  fill: var(--tooltip_icon);
}
.label__fba5D.v-label__AF4jZ {
  background-color: var(--input_text_editor_bg);
  border-radius: 12px;
  font-size: 12px;
  line-height: 16px;
  max-width: calc(100% - 16px);
  padding: 0 5px;
  position: absolute;
  z-index: 3;
}
.label__fba5D.v-label__AF4jZ.has-tooltip-icon__YSx9P {
  padding-right: 19px;
}
.label__fba5D.v-label__AF4jZ.has-tooltip-icon__YSx9P .tooltip-icon__Om6J9 {
  right: 0;
  top: calc(50% - 12px);
}
.label__fba5D.bold__DmCQg {
  font-weight: 600;
}
.label__fba5D.center__dOR2D {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.label__fba5D.center__dOR2D + .icon__xpK7K {
  bottom: 0;
  height: 26px;
  top: unset;
}
.label__fba5D.right-label__PVrJ2 {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative !important;
  width: unset !important;
}
.label__fba5D.right-label__PVrJ2.multiline__j2Jzw {
  text-align: right;
}
.label__fba5D.multiline__j2Jzw {
  line-height: 15px;
  text-overflow: unset;
  white-space: normal;
}
.label__fba5D.multiline__j2Jzw:not(.center__dOR2D) {
  margin-bottom: 5px;
}
.label__fba5D.warninglabel__ggZgK {
  color: var(--field_warning_label_fg) !important;
}
.label__fba5D.checkbox__imJPl,
.label__fba5D.radio__zButt {
  background-color: transparent;
  left: 0;
  padding: 0;
}
.label__fba5D.checkbox__imJPl.disabled__rqR01,
.label__fba5D.radio__zButt.disabled__rqR01 {
  background-color: transparent;
}
.label__fba5D.checkbox__imJPl.vertical__A41KV,
.label__fba5D.radio__zButt.vertical__A41KV {
  display: block;
  font-family: var(--tertiaryFont);
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 22px);
}
.label__fba5D:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.cp-label__pZLH6 {
  color: var(--cp_box_fg);
  position: relative !important;
  width: 75px;
}
.clickable__BeXyj:not(.disabled__rqR01) {
  cursor: pointer;
}
.label__ZjB_f {
  color: var(--input_fg);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: var(--font_size_label);
  font-weight: 300;
  -webkit-justify-content: center;
  line-height: var(--font_size_label);
  max-height: 100%;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  justify-content: center;
  -ms-flex-align: start;
  -webkit-align-content: stretch;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.label__ZjB_f .phc__JxG6J {
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__ZjB_f .pht__bpPy0 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: help;
  height: inherit;
}
.label__ZjB_f .pht__bpPy0 svg {
  height: 14px;
  width: 14px;
}
.label__ZjB_f .pht__bpPy0 svg path {
  fill: var(--input_fg);
}
.label__ZjB_f.disabled__lz6n9 {
  //color: var(--input_disabled_fg);
}
.label__ZjB_f span {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.label__ZjB_f.v-label__IFfe3 {
  background-color: var(--field_bg);
  border-radius: 12px;
  color: var(--editorlabel_topside_fg);
  font-size: 24px;
  line-height: 36px;
  max-width: calc(100% - 16px);
  min-height: var(--editorlabel_height);
  padding: 0 5px;
  z-index: 3;
}
.label__ZjB_f.v-label__IFfe3:not(.checkbox__fZPJf) {
  left: 8px;
  position: absolute;
  top: -20px;
}
.label__ZjB_f.bold___E5Je {
  font-weight: 600;
}
.label__ZjB_f.center__V5mqO {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.label__ZjB_f.center__V5mqO + .icon__cmQ3e {
  bottom: 0;
  height: 26px;
  top: unset;
}
.label__ZjB_f.right-label__BZpkV {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative !important;
  width: unset !important;
}
.label__ZjB_f.right-label__BZpkV.multiline__OIFw9 {
  text-align: right;
}
.label__ZjB_f.warninglabel__owf8u {
  color: var(--field_warning_label_fg) !important;
}
.label__ZjB_f.checkbox__fZPJf,
.label__ZjB_f.radio__BTnqZ {
  background-color: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__ZjB_f.sip__OqOwA:not(.checkbox__fZPJf) {
  background-color: var(--theme_editor_bg);
  left: 0;
  position: absolute;
  top: -40px;
}
.editor-radio-split-btn__o1qS7 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  overflow: hidden;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.editor-radio-split-btn__o1qS7.horizontal__p8u0X {
  height: 100%;
}
.editor-radio-split-btn__o1qS7:not(.horizontal__p8u0X) {
  height: 32px;
}
.editor-radio-split-btn__o1qS7 input {
  display: none;
  pointer-events: none;
}
.editor-radio-split-btn__o1qS7 .split__kbLWI {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  overflow: hidden;
  padding: 4px 8px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.editor-radio-split-btn__o1qS7 .split__kbLWI:focus-visible {
  border-radius: inherit;
  box-shadow: none;
  outline: var(--focus_outline);
  outline-offset: -2px;
  outline-width: 2px;
}
.editor-radio-split-btn__o1qS7 .split__kbLWI.horizontal__p8u0X {
  height: 100%;
}
.editor-radio-split-btn__o1qS7 .split__kbLWI:not(.checked__rmEE5) {
  background-color: var(--radio_split_button_bg);
  border: 1px solid var(--radio_split_button_border);
  color: var(--radio_split_button_fg);
}
.editor-radio-split-btn__o1qS7 .split__kbLWI.checked__rmEE5 {
  background-color: var(--radio_split_button_checked_bg);
  border: 1px solid var(--radio_split_button_checked_bg);
  color: var(--radio_split_button_checked_fg);
}
.editor-radio-split-btn__o1qS7 .split__kbLWI.checked__rmEE5:focus-within {
  outline: none;
}
.editor-radio-split-btn__o1qS7 .split__kbLWI.checked__rmEE5:focus-visible {
  border-radius: inherit;
  box-shadow: none;
  outline: 2px solid #000;
  outline-offset: -2px;
  outline-width: 2px;
}
.editor-radio-split-btn__o1qS7 .split__kbLWI.disabled__otQmo {
  background-color: var(--radio_split_button_disabled_bg);
  border: 1px solid var(--radio_split_button_disabled_bg);
  color: var(--radio_split_button_disabled_fg);
  cursor: auto;
}
.editor-radio-split-btn__o1qS7 .split__kbLWI.disabled__otQmo:focus-visible {
  border-radius: inherit;
  box-shadow: none;
  outline: var(--focus_outline);
  outline-offset: -2px;
  outline-width: 2px;
}
.editor-radio-split-btn__MMp6s {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.editor-radio-split-btn__MMp6s.vertical__Luv2z {
  height: 32px;
}
.editor-radio-split-btn__MMp6s:not(.vertical__Luv2z) {
  height: inherit;
}
.editor-radio-split-btn__MMp6s .content__oJUyO {
  height: 100%;
  width: 100%;
}
.editor-radio-split-btn__MMp6s input {
  display: none;
}
.editor-radio-split-btn__MMp6s .split__be4Ip {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  padding: 4px 8px;
  text-align: center;
}
.editor-radio-split-btn__MMp6s .split__be4Ip:not(.vertical__Luv2z) {
  height: 100%;
}
.editor-radio-split-btn__MMp6s .split__be4Ip:not(.checked__OG_XV) {
  background-color: var(--radio_split_button_bg);
  border: 1px solid var(--radio_split_button_border);
  color: var(--radio_split_button_fg);
}
.editor-radio-split-btn__MMp6s .split__be4Ip.checked__OG_XV {
  background-color: var(--radio_split_button_checked_bg);
  border: 1px solid var(--radio_split_button_checked_bg);
  color: var(--radio_split_button_checked_fg);
}
.editor-radio-split-btn__MMp6s .split__be4Ip.disabled__DRr44 {
  background-color: var(--radio_split_button_disabled_bg);
  border: 1px solid var(--radio_split_button_disabled_bg);
  color: var(--radio_split_button_disabled_fg);
}
.overlay__hrf5v {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  top: var(--window_top_margin);
  width: 100%;
  z-index: 10100;
}
.profile-menu__z6C3j {
  -ms-flex-align: start;
  border-radius: 16px;
  color: var(--profile_menu_fg);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  max-height: 600px;
  overflow: auto;
  position: absolute;
  top: var(--window_top_margin);
  width: 276px;
  word-wrap: break-word;
}
.profile-menu__z6C3j,
.profile-menu__z6C3j .menu-items__U7oxp {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  background-color: var(--profile_menu_bg);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.profile-menu__z6C3j .menu-items__U7oxp {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: flex-start;
  justify-content: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-align: start;
  min-height: 90px;
  padding: 0 16px 16px;
  position: relative;
  top: 0;
  width: inherit;
  z-index: 10100;
}
.profile-menu__z6C3j .menu-items__U7oxp .header-group__NyMdN {
  background-color: var(--profile_menu_header_bg);
  color: var(--profile_menu_header_fg);
  margin: 0 -16px 8px;
  padding: 16px;
  width: inherit;
}
.profile-menu__z6C3j
  .menu-items__U7oxp
  .header-group__NyMdN
  .theme-wrapper__EWcHh {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 16px;
}
.profile-menu__z6C3j
  .menu-items__U7oxp
  .header-group__NyMdN
  .options-wrapper__tk8St {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.profile-menu__z6C3j
  .menu-items__U7oxp
  .header-group__NyMdN
  .options-wrapper__tk8St
  .option-label__qDSxW {
  margin-bottom: 4px;
  margin-top: 4px;
}
.profile-menu__z6C3j
  .menu-items__U7oxp
  .header-group__NyMdN
  .options-wrapper__tk8St
  .option-value__qeYO4 {
  background-color: transparent;
  color: var(--profile_menu_header_item_value);
  height: 100%;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.profile-menu__z6C3j .menu-items__U7oxp .menu-separator__eP0ch {
  background-color: var(--profile_menu_separator_bg);
  border: none;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 1px;
  width: calc(100% - 16px);
}
.overlay__hrf5v {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.profile-menu__z6C3j {
  font-family: var(--profile_menu_font);
  max-height: calc(100vh - 60px);
  right: 0;
  top: 52px;
  width: 339px;
}
.profile-menu__z6C3j .menu-items__U7oxp {
  border-radius: 16px;
}
.profile-menu__z6C3j .menu-items__U7oxp .header-group__NyMdN {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.profile-menu__z6C3j
  .menu-items__U7oxp
  .header-group__NyMdN
  .options-wrapper__tk8St
  .option-label__qDSxW,
.profile-menu__z6C3j
  .menu-items__U7oxp
  .header-group__NyMdN
  .options-wrapper__tk8St
  .option-value__qeYO4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profile-menu__z6C3j
  .menu-items__U7oxp
  .header-group__NyMdN
  .options-wrapper__tk8St
  .option-label__qDSxW {
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.profile-menu__z6C3j
  .menu-items__U7oxp
  .header-group__NyMdN
  .options-wrapper__tk8St
  .option-label__qDSxW:not(:first-of-type) {
  margin-top: 8px;
}
.profile-menu__z6C3j
  .menu-items__U7oxp
  .header-group__NyMdN
  .options-wrapper__tk8St
  .option-value__qeYO4 {
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}
.profile-menu__z6C3j .menu-items__U7oxp .scrollable-group__SBtT2 {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 4px;
  scrollbar-width: thin;
}
.profile-menu__z6C3j
  .menu-items__U7oxp
  .scrollable-group__SBtT2::-webkit-scrollbar {
  display: block;
}
.profile-menu__z6C3j .menu-items__U7oxp.premium__x3J0B {
  left: 30px;
  outline: none;
  top: 30px;
}
.profile-menu__z6C3j .menu-items__U7oxp.premium__x3J0B .menu-items__U7oxp {
  top: -10px;
}
.overlay__aNDfb {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: var(--window_top_margin);
  width: 100%;
  z-index: 10100;
}
.profile-menu__LEWq1 {
  -ms-flex-align: start;
  border-radius: 16px;
  color: var(--profile_menu_fg);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  max-height: 600px;
  overflow: auto;
  position: absolute;
  right: 0;
  top: var(--window_top_margin);
  width: 276px;
  word-wrap: break-word;
}
.profile-menu__LEWq1,
.profile-menu__LEWq1 .menu-items__yT65w {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  background-color: var(--profile_menu_bg);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.profile-menu__LEWq1 .menu-items__yT65w {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: flex-start;
  justify-content: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-align: start;
  min-height: 90px;
  padding: 0 16px 16px;
  position: relative;
  top: 0;
  width: inherit;
  z-index: 10100;
}
.profile-menu__LEWq1 .menu-items__yT65w .header-group__tYwKm {
  background-color: var(--profile_menu_header_bg);
  color: var(--profile_menu_header_fg);
  margin: 0 -16px 8px;
  padding: 16px;
  width: inherit;
}
.profile-menu__LEWq1
  .menu-items__yT65w
  .header-group__tYwKm
  .theme-wrapper__fRvos {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 16px;
}
.profile-menu__LEWq1
  .menu-items__yT65w
  .header-group__tYwKm
  .options-wrapper__pozGj {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.profile-menu__LEWq1
  .menu-items__yT65w
  .header-group__tYwKm
  .options-wrapper__pozGj
  .option-label__AgICs {
  margin-bottom: 4px;
  margin-top: 4px;
}
.profile-menu__LEWq1
  .menu-items__yT65w
  .header-group__tYwKm
  .options-wrapper__pozGj
  .option-value__qwyaW {
  background-color: transparent;
  color: var(--profile_menu_header_item_value);
  height: 100%;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.profile-menu__LEWq1 .menu-items__yT65w .menu-separator__u9NE9 {
  background-color: var(--profile_menu_separator_bg);
  border: none;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 1px;
  width: calc(100% - 16px);
}
