svg path:first-child.linear__MC1nf,
svg path:first-child.linear__SY_Cb,
svg path:nth-of-type(2).linear__MC1nf,
svg path:nth-of-type(2).linear__SY_Cb,
svg path:nth-of-type(3).linear__MC1nf,
svg path:nth-of-type(3).linear__SY_Cb,
svg path:nth-of-type(4).linear__MC1nf,
svg path:nth-of-type(4).linear__SY_Cb {
  fill: url(#linear) !important;
}
.label__wuzQe {
  border-bottom: 1px solid var(--theme_editor_label_border);
  color: var(--theme_editor_label_fg);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: var(--font_size_label);
  font-weight: 300;
  -webkit-justify-content: center;
  line-height: var(--font_size_label);
  max-height: 100%;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  justify-content: center;
  -ms-flex-align: start;
  -webkit-align-content: stretch;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.label__wuzQe .phc__dcOiO {
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__wuzQe .pht__HxN3B {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  cursor: help;
  height: inherit;
}
.label__wuzQe .pht__HxN3B svg {
  height: 14px;
  width: 14px;
}
.label__wuzQe .pht__HxN3B svg path {
  fill: var(--input_icon_fg);
}
.label__wuzQe.multiline__ZjIzV {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-items: flex-end;
  justify-content: flex-start;
  -ms-flex-align: end;
  -webkit-align-content: stretch;
  align-items: flex-end;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  justify-content: space-around;
  line-height: var(--font_size_label);
  overflow: hidden;
  padding-bottom: 6px;
  text-overflow: unset;
  white-space: normal;
}
.label__wuzQe.multiline__ZjIzV .phc__dcOiO {
  line-height: 1.1em;
  overflow: hidden;
  position: unset;
  text-overflow: unset;
  white-space: normal;
}
.label__wuzQe.multiline__ZjIzV .pht__HxN3B {
  height: unset;
}
.label__wuzQe.disabled__nZ9zg {
  color: var(--theme_editor_label_disabled_fg);
}
.label__wuzQe.multiline__ZjIzV {
  padding-bottom: 0;
}
.label__wuzQe:not(.multiline__ZjIzV) span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__wuzQe span {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  min-width: 0;
  width: 100%;
}
.label__wuzQe .tooltip-icon__G_FGj {
  cursor: pointer;
  padding: 4px;
  position: absolute;
  right: 0;
  top: calc(50% - 9px);
}
.label__wuzQe .tooltip-icon__G_FGj svg {
  height: 10px;
  width: 10px;
}
.label__wuzQe .tooltip-icon__G_FGj svg path {
  fill: var(--tooltip_icon);
}
.label__wuzQe.v-label__a6wM7 {
  background-color: var(--input_text_editor_bg);
  border-radius: 12px;
  font-size: 12px;
  line-height: 16px;
  max-width: calc(100% - 16px);
  padding: 0 5px;
  position: relative;
  z-index: 3;
}
.label__wuzQe.v-label__a6wM7.has-tooltip-icon__vo70D {
  padding-right: 19px;
}
.label__wuzQe.v-label__a6wM7.has-tooltip-icon__vo70D .tooltip-icon__G_FGj {
  right: 0;
  top: calc(50% - 11px);
}
.label__wuzQe.bold__gKk5E {
  font-weight: 600;
}
.label__wuzQe.center__iNZ3n {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.label__wuzQe.center__iNZ3n + .icon__JY8GX {
  bottom: 0;
  height: 26px;
  top: unset;
}
.label__wuzQe.right-label__Cl35n {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative !important;
  width: unset !important;
}
.label__wuzQe.right-label__Cl35n.multiline__ZjIzV {
  text-align: right;
}
.label__wuzQe:not(.v-label__a6wM7).multiline__ZjIzV {
  line-height: 15px;
  text-overflow: unset;
  white-space: normal;
}
.label__wuzQe.warninglabel__bW12g {
  color: var(--field_warning_label_fg) !important;
}
.label__wuzQe.checkbox__Qsntc.v-label__a6wM7,
.label__wuzQe.radio__JV3KX.v-label__a6wM7 {
  border-radius: 0;
  display: block;
  font-size: 12px;
  font-weight: 300;
  max-width: calc(100% - 32px);
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__wuzQe.checkbox__Qsntc.v-label__a6wM7,
.label__wuzQe.checkbox__Qsntc.v-label__a6wM7.disabled__nZ9zg,
.label__wuzQe.memotext__x8U1X.v-label__a6wM7,
.label__wuzQe.memotext__x8U1X.v-label__a6wM7.disabled__nZ9zg,
.label__wuzQe.radio__JV3KX.v-label__a6wM7,
.label__wuzQe.radio__JV3KX.v-label__a6wM7.disabled__nZ9zg,
.label__wuzQe.richedit__OzE63.v-label__a6wM7,
.label__wuzQe.richedit__OzE63.v-label__a6wM7.disabled__nZ9zg {
  background-color: transparent;
}
.label__wuzQe:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.cp-label__F8gkb {
  color: var(--cp_box_fg);
  position: relative !important;
  width: 75px;
}
.clickable__F1ZA5:not(.disabled__nZ9zg) {
  cursor: pointer;
}
.label__fba5D {
  color: var(--editorlabel_topside_fg);
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: var(--font_size_label);
  font-weight: 300;
  -webkit-justify-content: center;
  max-height: 100%;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  justify-content: center;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  height: auto;
  left: 12px;
  position: relative;
  top: 0;
}
.label__fba5D,
.label__fba5D.multiline__j2Jzw {
  -webkit-align-content: stretch;
  align-content: stretch;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  line-height: var(--font_size_label);
}
.label__fba5D.multiline__j2Jzw {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: stretch;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  justify-content: space-around;
  overflow: hidden;
  padding-bottom: 6px;
}
.label__fba5D.disabled__rqR01 {
  color: var(--editorlabel_disabled_fg);
}
.label__fba5D span {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -ms-flex-pack: center;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  min-width: 0;
  width: 100%;
}
.label__fba5D .tooltip-icon__Om6J9 {
  cursor: pointer;
  padding: 4px;
  position: absolute;
  right: -20px;
  top: calc(50% - 9px);
}
.label__fba5D .tooltip-icon__Om6J9 svg {
  height: 10px;
  width: 10px;
}
.label__fba5D .tooltip-icon__Om6J9 svg path {
  fill: var(--tooltip_icon);
}
.label__fba5D.v-label__AF4jZ {
  background-color: var(--input_text_editor_bg);
  border-radius: 12px;
  font-size: 12px;
  line-height: 16px;
  max-width: calc(100% - 16px);
  padding: 0 5px;
  position: absolute;
  z-index: 3;
}
.label__fba5D.v-label__AF4jZ.has-tooltip-icon__YSx9P {
  padding-right: 19px;
}
.label__fba5D.v-label__AF4jZ.has-tooltip-icon__YSx9P .tooltip-icon__Om6J9 {
  right: 0;
  top: calc(50% - 12px);
}
.label__fba5D.bold__DmCQg {
  font-weight: 600;
}
.label__fba5D.center__dOR2D {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.label__fba5D.center__dOR2D + .icon__xpK7K {
  bottom: 0;
  height: 26px;
  top: unset;
}
.label__fba5D.right-label__PVrJ2 {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative !important;
  width: unset !important;
}
.label__fba5D.right-label__PVrJ2.multiline__j2Jzw {
  text-align: right;
}
.label__fba5D.multiline__j2Jzw {
  line-height: 15px;
  text-overflow: unset;
  white-space: normal;
}
.label__fba5D.multiline__j2Jzw:not(.center__dOR2D) {
  margin-bottom: 5px;
}
.label__fba5D.warninglabel__ggZgK {
  color: var(--field_warning_label_fg) !important;
}
.label__fba5D.checkbox__imJPl,
.label__fba5D.radio__zButt {
  background-color: transparent;
  left: 0;
  padding: 0;
}
.label__fba5D.checkbox__imJPl.disabled__rqR01,
.label__fba5D.radio__zButt.disabled__rqR01 {
  background-color: transparent;
}
.label__fba5D.checkbox__imJPl.vertical__A41KV,
.label__fba5D.radio__zButt.vertical__A41KV {
  display: block;
  font-family: var(--tertiaryFont);
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 22px);
}
.label__fba5D:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.cp-label__pZLH6 {
  color: var(--cp_box_fg);
  position: relative !important;
  width: 75px;
}
.clickable__BeXyj:not(.disabled__rqR01) {
  cursor: pointer;
}
.label__ZjB_f {
  color: var(--input_fg);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: var(--font_size_label);
  font-weight: 300;
  -webkit-justify-content: center;
  line-height: var(--font_size_label);
  max-height: 100%;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  justify-content: center;
  -ms-flex-align: start;
  -webkit-align-content: stretch;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.label__ZjB_f .phc__JxG6J {
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__ZjB_f .pht__bpPy0 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: help;
  height: inherit;
}
.label__ZjB_f .pht__bpPy0 svg {
  height: 14px;
  width: 14px;
}
.label__ZjB_f .pht__bpPy0 svg path {
  fill: var(--input_fg);
}
.label__ZjB_f.disabled__lz6n9 {
  //color: var(--input_disabled_fg);
}
.label__ZjB_f span {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.label__ZjB_f.v-label__IFfe3 {
  background-color: var(--field_bg);
  border-radius: 12px;
  color: var(--editorlabel_topside_fg);
  font-size: 24px;
  line-height: 36px;
  max-width: calc(100% - 16px);
  min-height: var(--editorlabel_height);
  padding: 0 5px;
  z-index: 3;
}
.label__ZjB_f.v-label__IFfe3:not(.checkbox__fZPJf) {
  left: 8px;
  position: absolute;
  top: -20px;
}
.label__ZjB_f.bold___E5Je {
  font-weight: 600;
}
.label__ZjB_f.center__V5mqO {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.label__ZjB_f.center__V5mqO + .icon__cmQ3e {
  bottom: 0;
  height: 26px;
  top: unset;
}
.label__ZjB_f.right-label__BZpkV {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative !important;
  width: unset !important;
}
.label__ZjB_f.right-label__BZpkV.multiline__OIFw9 {
  text-align: right;
}
.label__ZjB_f.warninglabel__owf8u {
  color: var(--field_warning_label_fg) !important;
}
.label__ZjB_f.checkbox__fZPJf,
.label__ZjB_f.radio__BTnqZ {
  background-color: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__ZjB_f.sip__OqOwA:not(.checkbox__fZPJf) {
  background-color: var(--theme_editor_bg);
  left: 0;
  position: absolute;
  top: -40px;
}
.editor-signature__X8oy0 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-items: center;
  justify-content: flex-start;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.editor-signature__X8oy0 .content__PvO_N {
  background-color: var(--signature_content_bg);
  border: var(--signature_content_border);
  border-radius: 8px;
  cursor: crosshair;
  height: inherit;
  margin-left: 5px;
  position: absolute;
  top: 0;
}
.editor-signature__X8oy0 .content__PvO_N .signature__LNUBn {
  cursor: var(--signature_cursor);
  height: calc(100% - 2px);
  left: 1px;
  position: absolute;
  top: 1px;
  width: calc(100% - 2px);
}
.editor-signature__X8oy0 .content__PvO_N .signature__LNUBn:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.editor-signature__X8oy0 .content__PvO_N .icon__FNOwx {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -webkit-transition: all 0.2s ease-in 0s;
  -moz-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  -ms-transition: all 0.2s ease-in 0s;
  transition: all 0.2ms ease 0s;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background-color: var(--signature_icon_bg);
  border-radius: 2px;
  box-shadow: var(--signature_icon_shadow);
  cursor: pointer;
  height: 24px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 24px;
  z-index: 100;
}
.editor-signature__X8oy0 .content__PvO_N .icon__FNOwx:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.editor-signature__X8oy0 .content__PvO_N .icon__FNOwx svg {
  height: 16px;
  width: 16px;
}
.editor-signature__X8oy0 .content__PvO_N .icon__FNOwx svg path {
  fill: var(--signature_icon_color);
}
.editor-signature__X8oy0 .content__PvO_N .icon__FNOwx:hover {
  box-shadow: var(--signature_icon_hover_shadow);
}
.editor-signature__X8oy0 .content__PvO_N .icon__FNOwx:active {
  background-color: var(--signature_icon_active_bg);
  box-shadow: var(--signature_icon_active_shadow);
}
.editor-signature__X8oy0 .content__PvO_N .icon__FNOwx:active svg path {
  fill: var(--signature_icon_active_color);
}
.editor-signature__X8oy0 .content__PvO_N.disabled__BewC9 {
  cursor: not-allowed;
}
.editor-signature__X8oy0 .content__PvO_N.disabled__BewC9 .icon__FNOwx {
  background-color: var(--signature_icon_active_bg);
  box-shadow: var(--signature_icon_active_shadow);
}
.editor-signature__X8oy0 .content__PvO_N.disabled__BewC9 .icon__FNOwx svg path {
  fill: var(--signature_icon_active_color);
}
.editor-signature__X8oy0.vertical__Ng8lL {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.editor-signature__X8oy0.vertical__Ng8lL .content__PvO_N {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  height: calc(100% - 20px);
  justify-content: flex-end;
  margin: 0;
  position: relative;
}
.editor-signature__X8oy0.vertical__Ng8lL .content__PvO_N,
.editor-signature__phmsD {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.editor-signature__phmsD {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: flex-start;
  justify-content: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow: hidden;
  -webkit-tap-highlight-color: var(--theme_tap_highlight);
  min-height: inherit;
}
.editor-signature__phmsD .content__AWpVV {
  background-color: var(--sign_content_bg);
  border: var(--sign_content_border);
  border-radius: 8px;
  height: inherit;
  width: 100%;
}
.editor-signature__phmsD .content__AWpVV .signature__yPQ9K {
  cursor:
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAC0SURBVDhP5dAxDgFBGMXxL1QKrcIpJC4gChKVQ7iBZDudI2hQOoHCCbiHG0g2Cir2/2I2mTBmRu0lvw12vzffMlJijw7mWKCB7Gh4gCWezhbZJTpZwxfUBT+VaG1/0Jcs0c3W62MwM6yRLNkgtEEta5M/K1khmljJDSMMYU1dAtGDB3TR1w8ud0zRww5tRONvopPHKNx3OSIZleid34dPSG7gR+/8MfztPwjlDA09MMHVzKwCwT9YkYhzGI8AAAAASUVORK5CYII="),
    auto;
}
.editor-signature__phmsD .content__AWpVV .icon__NLnnX {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  transition: all 0.2s ease 0s;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--sign_icon_bg);
  border-radius: 6px;
  box-shadow: var(--sign_content_icon_shadow);
  cursor: pointer;
  height: 24px;
  left: 0;
  position: relative;
  top: 0;
  width: 24px;
  z-index: 100;
}
.editor-signature__phmsD .content__AWpVV .icon__NLnnX svg {
  height: 16px;
  width: 16px;
}
.editor-signature__phmsD .content__AWpVV .icon__NLnnX svg path {
  fill: var(--sign_icon_fg);
}
.editor-signature__phmsD .content__AWpVV .icon__NLnnX:hover {
  box-shadow: var(--sign_content_icon_hover_shadow);
}
.editor-signature__phmsD .content__AWpVV .icon__NLnnX:active {
  background-color: var(--sign_icon_active_bg);
  box-shadow: var(--sign_content_icon_active_shadow);
}
.editor-signature__phmsD .content__AWpVV .icon__NLnnX:active svg path {
  fill: var(--sign_icon_active_fg);
}
.editor-signature__phmsD .content__AWpVV.disabled__XsB6m {
  cursor: not-allowed;
}
.editor-signature__phmsD .content__AWpVV.disabled__XsB6m .icon__NLnnX {
  background-color: var(--sign_disabled_bg);
  box-shadow: var(--sign_content_icon_active_shadow);
}
.editor-signature__phmsD .content__AWpVV.disabled__XsB6m .icon__NLnnX svg path {
  fill: var(--sign_disabled_icon);
}
.editor-signature__phmsD.vertical__PPU45,
.editor-signature__phmsD.vertical__PPU45 .content__AWpVV {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.editor-signature__phmsD.vertical__PPU45 .content__AWpVV {
  -webkit-align-items: flex-end;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  height: calc(100% - 20px);
  margin: 0 0 8px;
  position: relative;
  top: 8px;
  width: 100%;
}
.field__ZAiHA {
  min-height: 26px;
  position: absolute;
}
.field__ZAiHA.hidden__CAU1a {
  display: none;
}
.field__ZAiHA.largefont__EZQM4 input {
  font-size: 12pt !important;
}
.field__ZAiHA.fixedwidthfont__efOjL input,
.field__ZAiHA.fixedwidthfont__efOjL textarea {
  font-family:
    Consolas,
    Courier New,
    monospace !important;
}
.field__ZAiHA.boldfont__iLj3F input {
  font-weight: 600 !important;
}
.field__ZAiHA.warningfont__QZMns input {
  color: var(--field_warning_label_fg) !important;
}
.field__ZAiHA.field-v__cMySV {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-align-items: flex-start;
  justify-content: flex-end;
  -ms-flex-align: flex-start;
  -webkit-align-content: stretch;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.field__ZAiHA.rangeslider__Qxha2 {
  -webkit-align-items: flex-end;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 6px 0 10px;
  width: 100%;
}
.field__AN17V {
  margin-bottom: 8px;
  min-height: var(--field_height);
  padding: 0;
  position: relative;
  width: 100%;
}
.field__AN17V.dashboard__MzAxy {
  padding-left: 0;
  padding-right: 0;
}
.field__AN17V.hidden__qi9lc {
  display: none;
}
.field__AN17V.boldfont__UgAc4 input {
  font-weight: 600 !important;
}
.field__AN17V.warningfont__jVZiO input {
  color: var(--field_warning_label_fg) !important;
}
.field__AN17V.radio__Na4N5 {
  height: 46px;
  min-height: 46px;
  padding-bottom: 0;
  padding-top: 0;
}
.field__AN17V.radio-split__KTiF0 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  min-height: unset;
  padding: unset;
}
.field__AN17V.radio-split__KTiF0.in-row__jeHgR {
  -webkit-align-items: stretch;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 100%;
}
.field__AN17V.rangeslider__x41VF {
  height: 66px;
  padding-top: 13px;
  width: 100%;
}
.field__l3N15 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--field_bg);
  min-height: 26px;
  position: absolute;
}
.field__l3N15.hidden__xiace {
  display: none;
}
.field__l3N15.largefont__EL_EH input {
  font-size: 12pt !important;
}
.field__l3N15.fixedwidthfont__AAWks input,
.field__l3N15.fixedwidthfont__AAWks textarea {
  font-family:
    Consolas,
    Courier New,
    monospace !important;
}
.field__l3N15.boldfont__jpNI0 input {
  font-weight: 600 !important;
}
.field__l3N15.warningfont__SGa5k input {
  color: var(--field_warning_label_fg) !important;
}
.field__l3N15.nolabel__HN2Ye {
  border-top: var(--signin_field_border);
}
.field__l3N15.field-v__UhcfL {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-align-items: flex-start;
  justify-content: flex-end;
  -ms-flex-align: flex-start;
  -webkit-align-content: stretch;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.field__l3N15.eip__r2gCM {
  border: unset;
  border-radius: 0;
  border-top: unset;
  font-family: var(--primaryFont);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: unset;
  padding: unset;
}
