svg path:first-child.linear__MC1nf,
svg path:first-child.linear__SY_Cb,
svg path:nth-of-type(2).linear__MC1nf,
svg path:nth-of-type(2).linear__SY_Cb,
svg path:nth-of-type(3).linear__MC1nf,
svg path:nth-of-type(3).linear__SY_Cb,
svg path:nth-of-type(4).linear__MC1nf,
svg path:nth-of-type(4).linear__SY_Cb {
  fill: url(#linear) !important;
}
.label__wuzQe {
  border-bottom: 1px solid var(--theme_editor_label_border);
  color: var(--theme_editor_label_fg);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: var(--font_size_label);
  font-weight: 300;
  -webkit-justify-content: center;
  line-height: var(--font_size_label);
  max-height: 100%;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  justify-content: center;
  -ms-flex-align: start;
  -webkit-align-content: stretch;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.label__wuzQe .phc__dcOiO {
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__wuzQe .pht__HxN3B {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  cursor: help;
  height: inherit;
}
.label__wuzQe .pht__HxN3B svg {
  height: 14px;
  width: 14px;
}
.label__wuzQe .pht__HxN3B svg path {
  fill: var(--input_icon_fg);
}
.label__wuzQe.multiline__ZjIzV {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-items: flex-end;
  justify-content: flex-start;
  -ms-flex-align: end;
  -webkit-align-content: stretch;
  align-items: flex-end;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  justify-content: space-around;
  line-height: var(--font_size_label);
  overflow: hidden;
  padding-bottom: 6px;
  text-overflow: unset;
  white-space: normal;
}
.label__wuzQe.multiline__ZjIzV .phc__dcOiO {
  line-height: 1.1em;
  overflow: hidden;
  position: unset;
  text-overflow: unset;
  white-space: normal;
}
.label__wuzQe.multiline__ZjIzV .pht__HxN3B {
  height: unset;
}
.label__wuzQe.disabled__nZ9zg {
  color: var(--theme_editor_label_disabled_fg);
}
.label__wuzQe.multiline__ZjIzV {
  padding-bottom: 0;
}
.label__wuzQe:not(.multiline__ZjIzV) span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__wuzQe span {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  min-width: 0;
  width: 100%;
}
.label__wuzQe .tooltip-icon__G_FGj {
  cursor: pointer;
  padding: 4px;
  position: absolute;
  right: 0;
  top: calc(50% - 9px);
}
.label__wuzQe .tooltip-icon__G_FGj svg {
  height: 10px;
  width: 10px;
}
.label__wuzQe .tooltip-icon__G_FGj svg path {
  fill: var(--tooltip_icon);
}
.label__wuzQe.v-label__a6wM7 {
  background-color: var(--input_text_editor_bg);
  border-radius: 12px;
  font-size: 12px;
  line-height: 16px;
  max-width: calc(100% - 16px);
  padding: 0 5px;
  position: relative;
  z-index: 3;
}
.label__wuzQe.v-label__a6wM7.has-tooltip-icon__vo70D {
  padding-right: 19px;
}
.label__wuzQe.v-label__a6wM7.has-tooltip-icon__vo70D .tooltip-icon__G_FGj {
  right: 0;
  top: calc(50% - 11px);
}
.label__wuzQe.bold__gKk5E {
  font-weight: 600;
}
.label__wuzQe.center__iNZ3n {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.label__wuzQe.center__iNZ3n + .icon__JY8GX {
  bottom: 0;
  height: 26px;
  top: unset;
}
.label__wuzQe.right-label__Cl35n {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative !important;
  width: unset !important;
}
.label__wuzQe.right-label__Cl35n.multiline__ZjIzV {
  text-align: right;
}
.label__wuzQe:not(.v-label__a6wM7).multiline__ZjIzV {
  line-height: 15px;
  text-overflow: unset;
  white-space: normal;
}
.label__wuzQe.warninglabel__bW12g {
  color: var(--field_warning_label_fg) !important;
}
.label__wuzQe.checkbox__Qsntc.v-label__a6wM7,
.label__wuzQe.radio__JV3KX.v-label__a6wM7 {
  border-radius: 0;
  display: block;
  font-size: 12px;
  font-weight: 300;
  max-width: calc(100% - 32px);
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__wuzQe.checkbox__Qsntc.v-label__a6wM7,
.label__wuzQe.checkbox__Qsntc.v-label__a6wM7.disabled__nZ9zg,
.label__wuzQe.memotext__x8U1X.v-label__a6wM7,
.label__wuzQe.memotext__x8U1X.v-label__a6wM7.disabled__nZ9zg,
.label__wuzQe.radio__JV3KX.v-label__a6wM7,
.label__wuzQe.radio__JV3KX.v-label__a6wM7.disabled__nZ9zg,
.label__wuzQe.richedit__OzE63.v-label__a6wM7,
.label__wuzQe.richedit__OzE63.v-label__a6wM7.disabled__nZ9zg {
  background-color: transparent;
}
.label__wuzQe:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.cp-label__F8gkb {
  color: var(--cp_box_fg);
  position: relative !important;
  width: 75px;
}
.clickable__F1ZA5:not(.disabled__nZ9zg) {
  cursor: pointer;
}
.label__fba5D {
  color: var(--editorlabel_topside_fg);
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: var(--font_size_label);
  font-weight: 300;
  -webkit-justify-content: center;
  max-height: 100%;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  justify-content: center;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  height: auto;
  left: 12px;
  position: relative;
  top: 0;
}
.label__fba5D,
.label__fba5D.multiline__j2Jzw {
  -webkit-align-content: stretch;
  align-content: stretch;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  line-height: var(--font_size_label);
}
.label__fba5D.multiline__j2Jzw {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: stretch;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  justify-content: space-around;
  overflow: hidden;
  padding-bottom: 6px;
}
.label__fba5D.disabled__rqR01 {
  color: var(--editorlabel_disabled_fg);
}
.label__fba5D span {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -ms-flex-pack: center;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  min-width: 0;
  width: 100%;
}
.label__fba5D .tooltip-icon__Om6J9 {
  cursor: pointer;
  padding: 4px;
  position: absolute;
  right: -20px;
  top: calc(50% - 9px);
}
.label__fba5D .tooltip-icon__Om6J9 svg {
  height: 10px;
  width: 10px;
}
.label__fba5D .tooltip-icon__Om6J9 svg path {
  fill: var(--tooltip_icon);
}
.label__fba5D.v-label__AF4jZ {
  background-color: var(--input_text_editor_bg);
  border-radius: 12px;
  font-size: 12px;
  line-height: 16px;
  max-width: calc(100% - 16px);
  padding: 0 5px;
  position: absolute;
  z-index: 3;
}
.label__fba5D.v-label__AF4jZ.has-tooltip-icon__YSx9P {
  padding-right: 19px;
}
.label__fba5D.v-label__AF4jZ.has-tooltip-icon__YSx9P .tooltip-icon__Om6J9 {
  right: 0;
  top: calc(50% - 12px);
}
.label__fba5D.bold__DmCQg {
  font-weight: 600;
}
.label__fba5D.center__dOR2D {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.label__fba5D.center__dOR2D + .icon__xpK7K {
  bottom: 0;
  height: 26px;
  top: unset;
}
.label__fba5D.right-label__PVrJ2 {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative !important;
  width: unset !important;
}
.label__fba5D.right-label__PVrJ2.multiline__j2Jzw {
  text-align: right;
}
.label__fba5D.multiline__j2Jzw {
  line-height: 15px;
  text-overflow: unset;
  white-space: normal;
}
.label__fba5D.multiline__j2Jzw:not(.center__dOR2D) {
  margin-bottom: 5px;
}
.label__fba5D.warninglabel__ggZgK {
  color: var(--field_warning_label_fg) !important;
}
.label__fba5D.checkbox__imJPl,
.label__fba5D.radio__zButt {
  background-color: transparent;
  left: 0;
  padding: 0;
}
.label__fba5D.checkbox__imJPl.disabled__rqR01,
.label__fba5D.radio__zButt.disabled__rqR01 {
  background-color: transparent;
}
.label__fba5D.checkbox__imJPl.vertical__A41KV,
.label__fba5D.radio__zButt.vertical__A41KV {
  display: block;
  font-family: var(--tertiaryFont);
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 22px);
}
.label__fba5D:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.cp-label__pZLH6 {
  color: var(--cp_box_fg);
  position: relative !important;
  width: 75px;
}
.clickable__BeXyj:not(.disabled__rqR01) {
  cursor: pointer;
}
.label__ZjB_f {
  color: var(--input_fg);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: var(--font_size_label);
  font-weight: 300;
  -webkit-justify-content: center;
  line-height: var(--font_size_label);
  max-height: 100%;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  justify-content: center;
  -ms-flex-align: start;
  -webkit-align-content: stretch;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.label__ZjB_f .phc__JxG6J {
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__ZjB_f .pht__bpPy0 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: help;
  height: inherit;
}
.label__ZjB_f .pht__bpPy0 svg {
  height: 14px;
  width: 14px;
}
.label__ZjB_f .pht__bpPy0 svg path {
  fill: var(--input_fg);
}
.label__ZjB_f.disabled__lz6n9 {
  //color: var(--input_disabled_fg);
}
.label__ZjB_f span {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.label__ZjB_f.v-label__IFfe3 {
  background-color: var(--field_bg);
  border-radius: 12px;
  color: var(--editorlabel_topside_fg);
  font-size: 24px;
  line-height: 36px;
  max-width: calc(100% - 16px);
  min-height: var(--editorlabel_height);
  padding: 0 5px;
  z-index: 3;
}
.label__ZjB_f.v-label__IFfe3:not(.checkbox__fZPJf) {
  left: 8px;
  position: absolute;
  top: -20px;
}
.label__ZjB_f.bold___E5Je {
  font-weight: 600;
}
.label__ZjB_f.center__V5mqO {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.label__ZjB_f.center__V5mqO + .icon__cmQ3e {
  bottom: 0;
  height: 26px;
  top: unset;
}
.label__ZjB_f.right-label__BZpkV {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative !important;
  width: unset !important;
}
.label__ZjB_f.right-label__BZpkV.multiline__OIFw9 {
  text-align: right;
}
.label__ZjB_f.warninglabel__owf8u {
  color: var(--field_warning_label_fg) !important;
}
.label__ZjB_f.checkbox__fZPJf,
.label__ZjB_f.radio__BTnqZ {
  background-color: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__ZjB_f.sip__OqOwA:not(.checkbox__fZPJf) {
  background-color: var(--theme_editor_bg);
  left: 0;
  position: absolute;
  top: -40px;
}
.checkbox__xW6_H {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border-radius: 3px;
  box-sizing: border-box;
  height: 20px;
  transition:
    background 0.12s ease,
    border-color 0.12s ease;
  width: 20px;
}
.checkbox__xW6_H,
.checkbox__xW6_H svg {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.checkbox__xW6_H svg {
  width: 12px;
}
.checkbox__xW6_H.checked__miJ9L {
  background: var(--checkbox_bg);
}
.checkbox__xW6_H.checked__miJ9L svg path {
  fill: var(--checkbox_fill_color);
}
.checkbox__xW6_H.unchecked__ezHXf {
  border: var(--checkbox_border);
}
.checkbox__xW6_H.unchecked__ezHXf svg path {
  fill: var(--checkbox_border);
}
.checkbox__xW6_H.disabled__f7EHl .text__Im9mI {
  color: var(--checkbox_disabled_fg);
}
.checkbox__xW6_H.disabled__f7EHl svg path {
  fill: var(--checkbox_disabled_icon);
}
.checkbox__xW6_H.disabled__f7EHl:not(.checked__miJ9L) {
  border: var(--checkbox_border_disabled);
}
.checkbox__xW6_H.disabled__f7EHl:not(.unchecked__ezHXf) {
  background: var(--checkbox_disabled_color);
  border: var(--checkbox_border_disabled);
}
.checkbox__xW6_H:hover:not(.disabled__f7EHl):not(.unchecked__ezHXf) {
  background: var(--checkbox_bg_hover);
}
.checkbox__xW6_H:hover:not(.disabled__f7EHl):not(.checked__miJ9L) {
  border: var(--checkbox_border_hover);
}
.editor-checkbox__FTSWE {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%;
  left: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: var(--font_size_label);
}
.editor-checkbox__FTSWE,
.editor-checkbox__FTSWE .ch-content__Sz31D {
  -webkit-align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-align: center;
  -webkit-align-content: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background-color: transparent;
}
.editor-checkbox__FTSWE .ch-content__Sz31D {
  -ms-flex-pack: start;
  cursor: pointer;
  height: inherit;
  position: absolute;
  width: 32px;
}
.editor-checkbox__FTSWE .ch-content__Sz31D:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.editor-checkbox__FTSWE .ch-content__Sz31D input {
  display: none;
  pointer-events: none;
}
.editor-checkbox__FTSWE .ch-content__Sz31D .icon__fKBzi {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: inherit;
  position: absolute;
  width: 20px;
}
.editor-checkbox__FTSWE .ch-content__Sz31D .icon__fKBzi,
.editor-checkbox__FTSWE.vertical__FoGIG .ch-content__Sz31D {
  -webkit-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.editor-checkbox__FTSWE.vertical__FoGIG .ch-content__Sz31D {
  -ms-flex-align: center;
  -ms-flex-pack: center;
}
.editor-checkbox__FTSWE .ch-right__X4OaZ .text__Im9mI {
  right: 0;
}
.editor-checkbox__FTSWE .ch-right__X4OaZ .icon__fKBzi {
  left: 2px;
}
.editor-checkbox__FTSWE .ch-left__XmfX9 .text__Im9mI {
  left: 0;
}
.editor-checkbox__FTSWE .ch-left__XmfX9 .icon__fKBzi {
  right: 2px;
}
.editor-checkbox__FTSWE.multiline-label__Amcuu .ch-content__Sz31D {
  bottom: 0;
}
.editor-checkbox__FTSWE.grid__HUCBY .ch-content__Sz31D {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  border: none;
}
.editor-checkbox__FTSWE.grid__HUCBY .ch-content__Sz31D .icon__fKBzi {
  left: 0;
  position: unset;
  right: unset;
  width: 20px;
}
.editor-checkbox__FTSWE.grid__HUCBY .ch-content__Sz31D .icon__fKBzi svg path {
  fill: var(--grid_row_focused_fg);
}
.field-check__sCFFT {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  cursor: default;
  height: 40px;
  justify-content: space-between;
  position: relative;
}
.field-check__sCFFT,
.field-check__sCFFT .ch-content__Sz31D {
  -webkit-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.field-check__sCFFT .ch-content__Sz31D {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  cursor: pointer;
  height: inherit;
  position: unset;
  right: 0;
  top: 0;
  width: 40px;
}
.field-check__sCFFT .ch-content__Sz31D:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.field-check__sCFFT .ch-content__Sz31D .text__Im9mI,
.field-check__sCFFT .ch-content__Sz31D input {
  display: none;
}
.field-check__sCFFT .ch-content__Sz31D .icon__fKBzi {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%;
  position: unset;
  width: 40px;
}
.field-check__sCFFT .ch-content__Sz31D .icon__fKBzi svg {
  height: 24px;
  width: 24px;
}
.field-check__sCFFT .ch-content__Sz31D .icon__fKBzi svg path {
  fill: var(--signIn_check_color);
}
.checkbox__P0aCk {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border-radius: 3px;
  box-sizing: border-box;
  height: 20px;
  transition:
    background 0.12s ease,
    border-color 0.12s ease;
  width: 20px;
}
.checkbox__P0aCk,
.checkbox__P0aCk svg {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.checkbox__P0aCk svg {
  width: 12px;
}
.checkbox__P0aCk.checked__PDLSN {
  background: var(--checkbox_bg);
}
.checkbox__P0aCk.checked__PDLSN svg path {
  fill: var(--checkbox_fill_color);
}
.checkbox__P0aCk.unchecked__PNB0O,
.checkbox__P0aCk.unchecked__PNB0O svg path {
  border: var(--checkbox_border);
}
.checkbox__P0aCk.disabled__DHG9Z .text__kz6Kw {
  color: var(--checkbox_disabled_fg);
}
.checkbox__P0aCk.disabled__DHG9Z svg path {
  fill: var(--checkbox_disabled_icon);
}
.checkbox__P0aCk.disabled__DHG9Z:not(.checked__PDLSN) {
  border: var(--checkbox_border_disabled);
}
.checkbox__P0aCk.disabled__DHG9Z:not(.unchecked__PNB0O) {
  background: var(--checkbox_disabled_color);
  border: var(--checkbox_border_disabled);
}
.editor-checkbox__BEbGE {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-content: stretch;
  justify-content: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-content: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  background-color: transparent;
  cursor: pointer;
  font-size: var(--font_size_label);
  height: inherit;
  justify-content: space-between;
  min-height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
  -webkit-tap-highlight-color: var(--checkbox_tap_highlight);
}
.editor-checkbox__BEbGE .label__g8N8K {
  width: calc(100% - 40px);
}
.editor-checkbox__BEbGE .ch-content__Z4BwX {
  -webkit-align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-content: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  background-color: transparent;
  cursor: pointer;
  height: inherit;
  justify-content: center;
  position: relative;
  width: 40px;
}
.editor-checkbox__BEbGE .ch-content__Z4BwX:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.editor-checkbox__BEbGE .ch-content__Z4BwX input {
  display: none;
  pointer-events: none;
}
.editor-checkbox__BEbGE .ch-content__Z4BwX .icon__lc6NO {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: inherit;
  position: absolute;
  width: 20px;
}
.editor-checkbox__BEbGE .ch-content__Z4BwX .icon__lc6NO,
.editor-checkbox__BEbGE.vertical__bKrF1 .ch-content__Z4BwX {
  -webkit-align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.editor-checkbox__BEbGE.vertical__bKrF1 .ch-content__Z4BwX {
  -ms-flex-pack: center;
}
.editor-checkbox__BEbGE .ch-right__l5tKT .text__kz6Kw {
  right: 0;
}
.editor-checkbox__BEbGE .ch-right__l5tKT .icon__lc6NO {
  left: 2px;
}
.editor-checkbox__BEbGE .ch-left__XkJpb .text__kz6Kw {
  left: 0;
}
.editor-checkbox__BEbGE .ch-left__XkJpb .icon__lc6NO {
  right: 2px;
}
.editor-checkbox__BEbGE.multiline-label__Cs2m3 .ch-content__Z4BwX {
  bottom: 0;
  height: 26px;
}
.checkbox__ROeOF {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border-radius: 3px;
  box-sizing: border-box;
  height: 24px;
  transition:
    background 0.12s ease,
    border-color 0.12s ease;
  width: 24px;
}
.checkbox__ROeOF,
.checkbox__ROeOF svg {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.checkbox__ROeOF svg {
  width: 12px;
}
.checkbox__ROeOF.checked__pqKZG {
  background: var(--checkbox_bg);
}
.checkbox__ROeOF.checked__pqKZG svg path {
  fill: var(--checkbox_fill_color);
}
.checkbox__ROeOF.unchecked__KWHXg {
  border: var(--checkbox_border);
}
.checkbox__ROeOF.unchecked__KWHXg svg path {
  fill: var(--checkbox_border);
}
.checkbox__ROeOF.disabled___0XGX .text__KpdzR {
  color: var(--checkbox_disabled_fg);
}
.checkbox__ROeOF.disabled___0XGX svg path {
  fill: var(--checkbox_disabled_icon);
}
.checkbox__ROeOF.disabled___0XGX:not(.checked__pqKZG) {
  border: var(--checkbox_border_disabled);
}
.checkbox__ROeOF.disabled___0XGX:not(.unchecked__KWHXg) {
  background: var(--checkbox_disabled_color);
  border: var(--checkbox_border_disabled);
}
.checkbox__ROeOF:hover:not(.disabled___0XGX):not(.unchecked__KWHXg) {
  background: var(--checkbox_bg_hover);
}
.checkbox__ROeOF:hover:not(.disabled___0XGX):not(.checked__pqKZG) {
  border: var(--checkbox_border_hover);
}
.checkbox__ROeOF input {
  display: none;
}
.editor-checkbox__nFQ85 {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%;
  left: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: var(--font_size_label);
}
.editor-checkbox__nFQ85,
.editor-checkbox__nFQ85 .ch-content__MYpR1 {
  -webkit-align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-align: center;
  -webkit-align-content: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background-color: transparent;
}
.editor-checkbox__nFQ85 .ch-content__MYpR1 {
  -ms-flex-pack: start;
  cursor: pointer;
  height: inherit;
  position: absolute;
  width: 32px;
}
.editor-checkbox__nFQ85 .ch-content__MYpR1 input {
  display: none;
  pointer-events: none;
}
.editor-checkbox__nFQ85 .ch-content__MYpR1 .icon__LVc5J {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: inherit;
  position: absolute;
  width: 20px;
}
.editor-checkbox__nFQ85 .ch-right__WMg7A .text__KpdzR {
  right: 0;
}
.editor-checkbox__nFQ85 .ch-right__WMg7A .icon__LVc5J {
  left: 2px;
}
.editor-checkbox__nFQ85 .ch-left__O7Bnd .text__KpdzR {
  left: 0;
}
.editor-checkbox__nFQ85 .ch-left__O7Bnd .icon__LVc5J {
  right: 2px;
}
.editor-checkbox__nFQ85.multiline-label__TGvaa .ch-content__MYpR1 {
  bottom: 0;
  height: 26px;
}
.editor-checkbox__nFQ85.grid__vUfdD .ch-content__MYpR1 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  width: 100%;
}
.editor-checkbox__nFQ85.grid__vUfdD .ch-content__MYpR1 .icon__LVc5J {
  left: 0;
  position: unset;
  right: unset;
  width: 20px;
}
.editor-checkbox__nFQ85.grid__vUfdD .ch-content__MYpR1 .icon__LVc5J svg path {
  fill: var(--grid_row_focused_fg);
}
.field-check__nEZYc {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  cursor: default;
  height: 42px;
  justify-content: space-between;
  position: relative;
}
.field-check__nEZYc,
.field-check__nEZYc .ch-content__MYpR1 {
  -webkit-align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.field-check__nEZYc .ch-content__MYpR1 {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  cursor: pointer;
  height: inherit;
  justify-content: center;
  position: unset;
  right: 0;
  top: 0;
  width: 42px;
}
.field-check__nEZYc .ch-content__MYpR1 input {
  display: none;
}
.field-check__nEZYc .ch-content__MYpR1 .checkbox__ROeOF {
  height: 100%;
  width: 42px;
}
.field-check__nEZYc .ch-content__MYpR1 .checkbox__ROeOF svg {
  height: 26px;
  width: 26px;
}
.checkbox__Vl0yP {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border-radius: 3px;
  box-sizing: border-box;
  height: 20px;
  transition:
    background 0.12s ease,
    border-color 0.12s ease;
  width: 20px;
}
.checkbox__Vl0yP,
.checkbox__Vl0yP svg {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.checkbox__Vl0yP svg {
  width: 12px;
}
.checkbox__Vl0yP.checked__IuALm {
  background: var(--checkbox_bg);
}
.checkbox__Vl0yP.checked__IuALm svg path {
  fill: var(--checkbox_fill_color);
}
.checkbox__Vl0yP.unchecked__gk22I {
  border: var(--checkbox_border);
}
.checkbox__Vl0yP.unchecked__gk22I svg path {
  fill: var(--checkbox_border);
}
.checkbox__Vl0yP.disabled__U0tyb .text__EhHxe {
  color: var(--checkbox_disabled_fg);
}
.checkbox__Vl0yP.disabled__U0tyb svg path {
  fill: var(--checkbox_disabled_icon);
}
.checkbox__Vl0yP.disabled__U0tyb:not(.checked__IuALm) {
  border: var(--checkbox_border_disabled);
}
.checkbox__Vl0yP.disabled__U0tyb:not(.unchecked__gk22I) {
  background: var(--checkbox_disabled_color);
  border: var(--checkbox_border_disabled);
}
.checkbox__Vl0yP:hover:not(.disabled__U0tyb):not(.unchecked__gk22I) {
  background: var(--checkbox_bg_hover);
}
.checkbox__Vl0yP:hover:not(.disabled__U0tyb):not(.checked__IuALm) {
  border: var(--checkbox_border_hover);
}
.editor-checkbox__GPL4f {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%;
  left: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: var(--font_size_label);
}
.editor-checkbox__GPL4f,
.editor-checkbox__GPL4f .ch-content__c3KuC {
  -webkit-align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-align: center;
  -webkit-align-content: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background-color: transparent;
}
.editor-checkbox__GPL4f .ch-content__c3KuC {
  -ms-flex-pack: start;
  cursor: pointer;
  height: inherit;
  position: absolute;
  width: 32px;
}
.editor-checkbox__GPL4f .ch-content__c3KuC:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.editor-checkbox__GPL4f .ch-content__c3KuC input {
  display: none;
  pointer-events: none;
}
.editor-checkbox__GPL4f .ch-content__c3KuC .icon__OPPZQ {
  height: inherit;
  position: absolute;
  width: 20px;
}
.editor-checkbox__GPL4f.vertical__xAtJF .ch-content__c3KuC {
  -webkit-align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.editor-checkbox__GPL4f .ch-right__ehNWr .text__EhHxe {
  right: 0;
}
.editor-checkbox__GPL4f .ch-right__ehNWr .icon__OPPZQ {
  left: 2px;
}
.editor-checkbox__GPL4f .ch-left__lmsyT .text__EhHxe {
  left: 0;
}
.editor-checkbox__GPL4f .ch-left__lmsyT .icon__OPPZQ {
  right: 2px;
}
.editor-checkbox__GPL4f.multiline-label__Y_hHD .ch-content__c3KuC {
  bottom: 0;
}
.editor-checkbox__GPL4f.grid__eHgQ6 .ch-content__c3KuC {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  border: none;
}
.editor-checkbox__GPL4f.grid__eHgQ6 .ch-content__c3KuC .icon__OPPZQ {
  left: 0;
  position: unset;
  right: unset;
  width: 20px;
}
.editor-checkbox__GPL4f.grid__eHgQ6 .ch-content__c3KuC .icon__OPPZQ svg path {
  fill: var(--grid_row_focused_fg);
}
.field-check__qNyfe {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  cursor: default;
  height: 40px;
  justify-content: space-between;
  position: relative;
}
.field-check__qNyfe,
.field-check__qNyfe .ch-content__c3KuC {
  -webkit-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.field-check__qNyfe .ch-content__c3KuC {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  cursor: pointer;
  height: inherit;
  position: unset;
  right: 0;
  top: 0;
  width: 40px;
}
.field-check__qNyfe .ch-content__c3KuC:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.field-check__qNyfe .ch-content__c3KuC .text__EhHxe,
.field-check__qNyfe .ch-content__c3KuC input {
  display: none;
}
.field-check__qNyfe .ch-content__c3KuC .icon__OPPZQ {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%;
  position: unset;
  width: 40px;
}
.field-check__qNyfe .ch-content__c3KuC .icon__OPPZQ svg {
  height: 24px;
  width: 24px;
}
.field-check__qNyfe .ch-content__c3KuC .icon__OPPZQ svg path {
  fill: var(--signIn_check_color);
}
.editor-checkbox__GPL4f {
  font-size: 10pt;
}
.editor-checkbox__GPL4f .ch-content__c3KuC {
  border: unset;
}
.editor-checkbox__GPL4f .ch-content__c3KuC .icon__OPPZQ {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  width: 24px;
}
.editor-checkbox__GPL4f .ch-content__c3KuC .icon__OPPZQ .ch-pipe-off__C00uX,
.editor-checkbox__GPL4f .ch-content__c3KuC .icon__OPPZQ .ch-pipe-on__HKdhv {
  border-radius: 8px;
  height: 14px;
  width: 24px;
}
.editor-checkbox__GPL4f .ch-content__c3KuC .icon__OPPZQ .ch-c__XBHJu {
  border-radius: 8px;
  height: 10px;
  width: 10px;
}
.editor-checkbox__GPL4f .ch-content__c3KuC .icon__OPPZQ .ch-pipe-on__HKdhv {
  background-color: var(--checkbox_pipe_on_bg);
}
.editor-checkbox__GPL4f
  .ch-content__c3KuC
  .icon__OPPZQ
  .ch-pipe-on__HKdhv
  .ch-c__XBHJu {
  background-color: var(--checkbox_pipe_on_checked_bg);
  margin-left: 12px;
  margin-top: 2px;
}
.editor-checkbox__GPL4f .ch-content__c3KuC .icon__OPPZQ .ch-pipe-off__C00uX {
  background-color: var(--checkbox_pipe_off_bg);
}
.editor-checkbox__GPL4f
  .ch-content__c3KuC
  .icon__OPPZQ
  .ch-pipe-off__C00uX
  .ch-c__XBHJu {
  background-color: var(--checkbox_pipe_off_checked_bg);
  margin-left: 2px;
  margin-top: 2px;
}
.editor-checkbox__GPL4f .ch-content__c3KuC.disabled__U0tyb {
  background-color: unset;
}
.editor-checkbox__GPL4f
  .ch-content__c3KuC.disabled__U0tyb
  .icon__OPPZQ
  .ch-pipe-off__C00uX,
.editor-checkbox__GPL4f
  .ch-content__c3KuC.disabled__U0tyb
  .icon__OPPZQ
  .ch-pipe-on__HKdhv {
  background-color: var(--checkbox_pipe_disabled);
}
.checkbox__UNfgZ {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border-radius: 3px;
  box-sizing: border-box;
  height: 20px;
  transition:
    background 0.12s ease,
    border-color 0.12s ease;
  width: 20px;
}
.checkbox__UNfgZ,
.checkbox__UNfgZ svg {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.checkbox__UNfgZ svg {
  width: 12px;
}
.checkbox__UNfgZ.checked__r3m1W {
  background: var(--checkbox_bg);
}
.checkbox__UNfgZ.checked__r3m1W svg path {
  fill: var(--checkbox_fill_color);
}
.checkbox__UNfgZ.unchecked__INjpj,
.checkbox__UNfgZ.unchecked__INjpj svg path {
  border: var(--checkbox_border);
}
.checkbox__UNfgZ.disabled__nYqCU .text__FzQSs {
  color: var(--checkbox_disabled_fg);
}
.checkbox__UNfgZ.disabled__nYqCU svg path {
  fill: var(--checkbox_disabled_icon);
}
.checkbox__UNfgZ.disabled__nYqCU:not(.checked__r3m1W) {
  border: var(--checkbox_border_disabled);
}
.checkbox__UNfgZ.disabled__nYqCU:not(.unchecked__INjpj) {
  background: var(--checkbox_disabled_color);
  border: var(--checkbox_border_disabled);
}
.editor-checkbox__gD58p {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-content: stretch;
  justify-content: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-content: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  background-color: transparent;
  cursor: pointer;
  font-size: var(--font_size_label);
  height: inherit;
  justify-content: space-between;
  min-height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
  -webkit-tap-highlight-color: var(--checkbox_tap_highlight);
}
.editor-checkbox__gD58p .label__JsxFt {
  width: calc(100% - 40px);
}
.editor-checkbox__gD58p .ch-content__WNc7W {
  -webkit-align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-content: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  background-color: transparent;
  cursor: pointer;
  height: inherit;
  justify-content: center;
  position: relative;
  width: 40px;
}
.editor-checkbox__gD58p .ch-content__WNc7W:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.editor-checkbox__gD58p .ch-content__WNc7W input {
  display: none;
  pointer-events: none;
}
.editor-checkbox__gD58p .ch-content__WNc7W .icon__PP76p {
  height: inherit;
  position: absolute;
  width: 20px;
}
.editor-checkbox__gD58p.vertical__dINTx .ch-content__WNc7W {
  -webkit-align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.editor-checkbox__gD58p .ch-right__zNHyX .text__FzQSs {
  right: 0;
}
.editor-checkbox__gD58p .ch-right__zNHyX .icon__PP76p {
  left: 2px;
}
.editor-checkbox__gD58p .ch-left__a1UvO .text__FzQSs {
  left: 0;
}
.editor-checkbox__gD58p .ch-left__a1UvO .icon__PP76p {
  right: 2px;
}
.editor-checkbox__gD58p.multiline-label__VJtBZ .ch-content__WNc7W {
  bottom: 0;
  height: 26px;
}
.editor-checkbox__gD58p .ch-content__WNc7W {
  border: unset;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: unset;
}
.editor-checkbox__gD58p .ch-content__WNc7W .icon__PP76p {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: static;
  width: unset;
}
.editor-checkbox__gD58p .ch-content__WNc7W .icon__PP76p .ch-pipe-off__g19qB,
.editor-checkbox__gD58p .ch-content__WNc7W .icon__PP76p .ch-pipe-on__Yn4b5 {
  border-radius: 12px;
  height: 24px;
  width: 40px;
}
.editor-checkbox__gD58p .ch-content__WNc7W .icon__PP76p .ch-c__yNXax {
  border-radius: 12px;
  height: 20px;
  width: 20px;
}
.editor-checkbox__gD58p .ch-content__WNc7W .icon__PP76p .ch-pipe-on__Yn4b5 {
  background-color: var(--checkbox_pipe_on_bg);
}
.editor-checkbox__gD58p
  .ch-content__WNc7W
  .icon__PP76p
  .ch-pipe-on__Yn4b5
  .ch-c__yNXax {
  background-color: var(--checkbox_pipe_on_checked_bg);
  margin-left: 18px;
  margin-top: 2px;
}
.editor-checkbox__gD58p .ch-content__WNc7W .icon__PP76p .ch-pipe-off__g19qB {
  background-color: var(--checkbox_pipe_off_bg);
}
.editor-checkbox__gD58p
  .ch-content__WNc7W
  .icon__PP76p
  .ch-pipe-off__g19qB
  .ch-c__yNXax {
  background-color: var(--checkbox_pipe_off_checked_bg);
  margin-left: 2px;
  margin-top: 2px;
}
.editor-checkbox__gD58p .ch-content__WNc7W.disabled__nYqCU {
  background-color: unset;
}
.editor-checkbox__gD58p
  .ch-content__WNc7W.disabled__nYqCU
  .icon__PP76p
  .ch-pipe-off__g19qB,
.editor-checkbox__gD58p
  .ch-content__WNc7W.disabled__nYqCU
  .icon__PP76p
  .ch-pipe-on__Yn4b5 {
  background-color: var(--checkbox_pipe_disabled);
}
.field__ZAiHA {
  min-height: 26px;
  position: absolute;
}
.field__ZAiHA.hidden__CAU1a {
  display: none;
}
.field__ZAiHA.largefont__EZQM4 input {
  font-size: 12pt !important;
}
.field__ZAiHA.fixedwidthfont__efOjL input,
.field__ZAiHA.fixedwidthfont__efOjL textarea {
  font-family:
    Consolas,
    Courier New,
    monospace !important;
}
.field__ZAiHA.boldfont__iLj3F input {
  font-weight: 600 !important;
}
.field__ZAiHA.warningfont__QZMns input {
  color: var(--field_warning_label_fg) !important;
}
.field__ZAiHA.field-v__cMySV {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-align-items: flex-start;
  justify-content: flex-end;
  -ms-flex-align: flex-start;
  -webkit-align-content: stretch;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.field__ZAiHA.rangeslider__Qxha2 {
  -webkit-align-items: flex-end;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 6px 0 10px;
  width: 100%;
}
.field__AN17V {
  margin-bottom: 8px;
  min-height: var(--field_height);
  padding: 0;
  position: relative;
  width: 100%;
}
.field__AN17V.dashboard__MzAxy {
  padding-left: 0;
  padding-right: 0;
}
.field__AN17V.hidden__qi9lc {
  display: none;
}
.field__AN17V.boldfont__UgAc4 input {
  font-weight: 600 !important;
}
.field__AN17V.warningfont__jVZiO input {
  color: var(--field_warning_label_fg) !important;
}
.field__AN17V.radio__Na4N5 {
  height: 46px;
  min-height: 46px;
  padding-bottom: 0;
  padding-top: 0;
}
.field__AN17V.radio-split__KTiF0 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  min-height: unset;
  padding: unset;
}
.field__AN17V.radio-split__KTiF0.in-row__jeHgR {
  -webkit-align-items: stretch;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 100%;
}
.field__AN17V.rangeslider__x41VF {
  height: 66px;
  padding-top: 13px;
  width: 100%;
}
.field__l3N15 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--field_bg);
  min-height: 26px;
  position: absolute;
}
.field__l3N15.hidden__xiace {
  display: none;
}
.field__l3N15.largefont__EL_EH input {
  font-size: 12pt !important;
}
.field__l3N15.fixedwidthfont__AAWks input,
.field__l3N15.fixedwidthfont__AAWks textarea {
  font-family:
    Consolas,
    Courier New,
    monospace !important;
}
.field__l3N15.boldfont__jpNI0 input {
  font-weight: 600 !important;
}
.field__l3N15.warningfont__SGa5k input {
  color: var(--field_warning_label_fg) !important;
}
.field__l3N15.nolabel__HN2Ye {
  border-top: var(--signin_field_border);
}
.field__l3N15.field-v__UhcfL {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-align-items: flex-start;
  justify-content: flex-end;
  -ms-flex-align: flex-start;
  -webkit-align-content: stretch;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.field__l3N15.eip__r2gCM {
  border: unset;
  border-radius: 0;
  border-top: unset;
  font-family: var(--primaryFont);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: unset;
  padding: unset;
}
