.label__wuzQe {
  border-bottom: 1px solid var(--theme_editor_label_border);
  color: var(--theme_editor_label_fg);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: var(--font_size_label);
  font-weight: 300;
  -webkit-justify-content: center;
  line-height: var(--font_size_label);
  max-height: 100%;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  justify-content: center;
  -ms-flex-align: start;
  -webkit-align-content: stretch;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.label__wuzQe .phc__dcOiO {
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__wuzQe .pht__HxN3B {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  cursor: help;
  height: inherit;
}
.label__wuzQe .pht__HxN3B svg {
  height: 14px;
  width: 14px;
}
.label__wuzQe .pht__HxN3B svg path {
  fill: var(--input_icon_fg);
}
.label__wuzQe.multiline__ZjIzV {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-items: flex-end;
  justify-content: flex-start;
  -ms-flex-align: end;
  -webkit-align-content: stretch;
  align-items: flex-end;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  justify-content: space-around;
  line-height: var(--font_size_label);
  overflow: hidden;
  padding-bottom: 6px;
  text-overflow: unset;
  white-space: normal;
}
.label__wuzQe.multiline__ZjIzV .phc__dcOiO {
  line-height: 1.1em;
  overflow: hidden;
  position: unset;
  text-overflow: unset;
  white-space: normal;
}
.label__wuzQe.multiline__ZjIzV .pht__HxN3B {
  height: unset;
}
.label__wuzQe.disabled__nZ9zg {
  color: var(--theme_editor_label_disabled_fg);
}
.label__wuzQe.multiline__ZjIzV {
  padding-bottom: 0;
}
.label__wuzQe:not(.multiline__ZjIzV) span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__wuzQe span {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  min-width: 0;
  width: 100%;
}
.label__wuzQe .tooltip-icon__G_FGj {
  cursor: pointer;
  padding: 4px;
  position: absolute;
  right: 0;
  top: calc(50% - 9px);
}
.label__wuzQe .tooltip-icon__G_FGj svg {
  height: 10px;
  width: 10px;
}
.label__wuzQe .tooltip-icon__G_FGj svg path {
  fill: var(--tooltip_icon);
}
.label__wuzQe.v-label__a6wM7 {
  background-color: var(--input_text_editor_bg);
  border-radius: 12px;
  font-size: 12px;
  line-height: 16px;
  max-width: calc(100% - 16px);
  padding: 0 5px;
  position: relative;
  z-index: 3;
}
.label__wuzQe.v-label__a6wM7.has-tooltip-icon__vo70D {
  padding-right: 19px;
}
.label__wuzQe.v-label__a6wM7.has-tooltip-icon__vo70D .tooltip-icon__G_FGj {
  right: 0;
  top: calc(50% - 11px);
}
.label__wuzQe.bold__gKk5E {
  font-weight: 600;
}
.label__wuzQe.center__iNZ3n {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.label__wuzQe.center__iNZ3n + .icon__JY8GX {
  bottom: 0;
  height: 26px;
  top: unset;
}
.label__wuzQe.right-label__Cl35n {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative !important;
  width: unset !important;
}
.label__wuzQe.right-label__Cl35n.multiline__ZjIzV {
  text-align: right;
}
.label__wuzQe:not(.v-label__a6wM7).multiline__ZjIzV {
  line-height: 15px;
  text-overflow: unset;
  white-space: normal;
}
.label__wuzQe.warninglabel__bW12g {
  color: var(--field_warning_label_fg) !important;
}
.label__wuzQe.checkbox__Qsntc.v-label__a6wM7,
.label__wuzQe.radio__JV3KX.v-label__a6wM7 {
  border-radius: 0;
  display: block;
  font-size: 12px;
  font-weight: 300;
  max-width: calc(100% - 32px);
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__wuzQe.checkbox__Qsntc.v-label__a6wM7,
.label__wuzQe.checkbox__Qsntc.v-label__a6wM7.disabled__nZ9zg,
.label__wuzQe.memotext__x8U1X.v-label__a6wM7,
.label__wuzQe.memotext__x8U1X.v-label__a6wM7.disabled__nZ9zg,
.label__wuzQe.radio__JV3KX.v-label__a6wM7,
.label__wuzQe.radio__JV3KX.v-label__a6wM7.disabled__nZ9zg,
.label__wuzQe.richedit__OzE63.v-label__a6wM7,
.label__wuzQe.richedit__OzE63.v-label__a6wM7.disabled__nZ9zg {
  background-color: transparent;
}
.label__wuzQe:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.cp-label__F8gkb {
  color: var(--cp_box_fg);
  position: relative !important;
  width: 75px;
}
.clickable__F1ZA5:not(.disabled__nZ9zg) {
  cursor: pointer;
}
.label__fba5D {
  color: var(--editorlabel_topside_fg);
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: var(--font_size_label);
  font-weight: 300;
  -webkit-justify-content: center;
  max-height: 100%;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  justify-content: center;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  height: auto;
  left: 12px;
  position: relative;
  top: 0;
}
.label__fba5D,
.label__fba5D.multiline__j2Jzw {
  -webkit-align-content: stretch;
  align-content: stretch;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  line-height: var(--font_size_label);
}
.label__fba5D.multiline__j2Jzw {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: stretch;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  justify-content: space-around;
  overflow: hidden;
  padding-bottom: 6px;
}
.label__fba5D.disabled__rqR01 {
  color: var(--editorlabel_disabled_fg);
}
.label__fba5D span {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -ms-flex-pack: center;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  min-width: 0;
  width: 100%;
}
.label__fba5D .tooltip-icon__Om6J9 {
  cursor: pointer;
  padding: 4px;
  position: absolute;
  right: -20px;
  top: calc(50% - 9px);
}
.label__fba5D .tooltip-icon__Om6J9 svg {
  height: 10px;
  width: 10px;
}
.label__fba5D .tooltip-icon__Om6J9 svg path {
  fill: var(--tooltip_icon);
}
.label__fba5D.v-label__AF4jZ {
  background-color: var(--input_text_editor_bg);
  border-radius: 12px;
  font-size: 12px;
  line-height: 16px;
  max-width: calc(100% - 16px);
  padding: 0 5px;
  position: absolute;
  z-index: 3;
}
.label__fba5D.v-label__AF4jZ.has-tooltip-icon__YSx9P {
  padding-right: 19px;
}
.label__fba5D.v-label__AF4jZ.has-tooltip-icon__YSx9P .tooltip-icon__Om6J9 {
  right: 0;
  top: calc(50% - 12px);
}
.label__fba5D.bold__DmCQg {
  font-weight: 600;
}
.label__fba5D.center__dOR2D {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.label__fba5D.center__dOR2D + .icon__xpK7K {
  bottom: 0;
  height: 26px;
  top: unset;
}
.label__fba5D.right-label__PVrJ2 {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative !important;
  width: unset !important;
}
.label__fba5D.right-label__PVrJ2.multiline__j2Jzw {
  text-align: right;
}
.label__fba5D.multiline__j2Jzw {
  line-height: 15px;
  text-overflow: unset;
  white-space: normal;
}
.label__fba5D.multiline__j2Jzw:not(.center__dOR2D) {
  margin-bottom: 5px;
}
.label__fba5D.warninglabel__ggZgK {
  color: var(--field_warning_label_fg) !important;
}
.label__fba5D.checkbox__imJPl,
.label__fba5D.radio__zButt {
  background-color: transparent;
  left: 0;
  padding: 0;
}
.label__fba5D.checkbox__imJPl.disabled__rqR01,
.label__fba5D.radio__zButt.disabled__rqR01 {
  background-color: transparent;
}
.label__fba5D.checkbox__imJPl.vertical__A41KV,
.label__fba5D.radio__zButt.vertical__A41KV {
  display: block;
  font-family: var(--tertiaryFont);
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 22px);
}
.label__fba5D:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.cp-label__pZLH6 {
  color: var(--cp_box_fg);
  position: relative !important;
  width: 75px;
}
.clickable__BeXyj:not(.disabled__rqR01) {
  cursor: pointer;
}
.label__ZjB_f {
  color: var(--input_fg);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: var(--font_size_label);
  font-weight: 300;
  -webkit-justify-content: center;
  line-height: var(--font_size_label);
  max-height: 100%;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  justify-content: center;
  -ms-flex-align: start;
  -webkit-align-content: stretch;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.label__ZjB_f .phc__JxG6J {
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__ZjB_f .pht__bpPy0 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: help;
  height: inherit;
}
.label__ZjB_f .pht__bpPy0 svg {
  height: 14px;
  width: 14px;
}
.label__ZjB_f .pht__bpPy0 svg path {
  fill: var(--input_fg);
}
.label__ZjB_f.disabled__lz6n9 {
  //color: var(--input_disabled_fg);
}
.label__ZjB_f span {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.label__ZjB_f.v-label__IFfe3 {
  background-color: var(--field_bg);
  border-radius: 12px;
  color: var(--editorlabel_topside_fg);
  font-size: 24px;
  line-height: 36px;
  max-width: calc(100% - 16px);
  min-height: var(--editorlabel_height);
  padding: 0 5px;
  z-index: 3;
}
.label__ZjB_f.v-label__IFfe3:not(.checkbox__fZPJf) {
  left: 8px;
  position: absolute;
  top: -20px;
}
.label__ZjB_f.bold___E5Je {
  font-weight: 600;
}
.label__ZjB_f.center__V5mqO {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.label__ZjB_f.center__V5mqO + .icon__cmQ3e {
  bottom: 0;
  height: 26px;
  top: unset;
}
.label__ZjB_f.right-label__BZpkV {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative !important;
  width: unset !important;
}
.label__ZjB_f.right-label__BZpkV.multiline__OIFw9 {
  text-align: right;
}
.label__ZjB_f.warninglabel__owf8u {
  color: var(--field_warning_label_fg) !important;
}
.label__ZjB_f.checkbox__fZPJf,
.label__ZjB_f.radio__BTnqZ {
  background-color: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__ZjB_f.sip__OqOwA:not(.checkbox__fZPJf) {
  background-color: var(--theme_editor_bg);
  left: 0;
  position: absolute;
  top: -40px;
}
.date-text__yAcen,
.editor-text__u2pp_ {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-content: stretch;
  justify-content: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  left: 0;
  min-height: inherit;
  position: absolute;
  top: 0;
  width: 100%;
}
.date-text__yAcen:focus-within .content__mHGci,
.editor-text__u2pp_:focus-within .content__mHGci {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.date-text__yAcen .content__mHGci,
.editor-text__u2pp_ .content__mHGci {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-items: center;
  justify-content: flex-start;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background-color: var(--input_bg);
  border: var(--theme_editor_common_border);
  border-radius: 8px;
  height: inherit;
  position: absolute;
}
.date-text__yAcen .content__mHGci input,
.editor-text__u2pp_ .content__mHGci input {
  background-color: var(--input_text_editor_bg);
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--input_text_editor_fg);
  font-family: var(--defaultFont);
  font-size: 9pt;
  font-weight: 500;
  height: 100%;
  line-height: 9pt;
  outline: none;
  padding: 0 2px 0 4px;
  text-align: left;
  width: 100%;
}
.date-text__yAcen .content__mHGci input ::-ms-clear,
.editor-text__u2pp_ .content__mHGci input ::-ms-clear {
  display: none;
}
.date-text__yAcen .content__mHGci input:disabled,
.editor-text__u2pp_ .content__mHGci input:disabled {
  background-color: var(--input_disabled_bg);
  //color: var(--input_disabled_fg);
}
.date-text__yAcen .content__mHGci input:focus,
.editor-text__u2pp_ .content__mHGci input:focus {
  background-color: transparent;
  color: var(--input_focused_fg);
  outline: none;
}
.date-text__yAcen .content__mHGci input.clearable__XCPtx,
.editor-text__u2pp_ .content__mHGci input.clearable__XCPtx {
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 160'><path style='fill:var(--neutral_400);' d='M 6.8496094,0 A 6.8518967,6.8518967 0 0 0 2.0761719,11.765625 L 70.310547,80 2.0761719,148.23438 a 6.8518967,6.8518967 0 1 0 9.6894531,9.68945 L 80,89.689453 148.23438,157.92383 a 6.8518967,6.8518967 0 1 0 9.68945,-9.68945 L 89.689453,80 157.92383,11.765625 A 6.8518967,6.8518967 0 1 0 148.23438,2.0761719 L 80,70.310547 11.765625,2.0761719 A 6.8518967,6.8518967 0 0 0 6.8496094,0 Z'/></svg>");
  background-position: right -16px center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  padding: 0 18px 0 10px !important;
}
.date-text__yAcen .content__mHGci input.clearable__XCPtx.X__CiKFm,
.editor-text__u2pp_ .content__mHGci input.clearable__XCPtx.X__CiKFm {
  transition: background 0.5s;
}
.date-text__yAcen .content__mHGci input.clearable__XCPtx.onX__MotWr,
.editor-text__u2pp_ .content__mHGci input.clearable__XCPtx.onX__MotWr {
  cursor: pointer;
}
.date-text__yAcen .content__mHGci input.clearable__XCPtx::-ms-clear,
.editor-text__u2pp_ .content__mHGci input.clearable__XCPtx::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}
.date-text__yAcen .content__mHGci input.clearable__XCPtx.X__CiKFm,
.editor-text__u2pp_ .content__mHGci input.clearable__XCPtx.X__CiKFm {
  background-position: right 5px center;
}
.date-text__yAcen .content__mHGci .icon___2maO,
.editor-text__u2pp_ .content__mHGci .icon___2maO {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  cursor: pointer;
  height: 28px;
  width: 24px;
}
.date-text__yAcen .content__mHGci .icon___2maO:focus-visible,
.editor-text__u2pp_ .content__mHGci .icon___2maO:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.date-text__yAcen .content__mHGci .icon___2maO svg,
.editor-text__u2pp_ .content__mHGci .icon___2maO svg {
  height: 16px;
  width: 16px;
}
.date-text__yAcen .content__mHGci .icon___2maO svg path,
.editor-text__u2pp_ .content__mHGci .icon___2maO svg path {
  fill: var(--input_icon_fg);
}
.date-text__yAcen .content__mHGci .icon___2maO.disabled__mzhPR svg path,
.editor-text__u2pp_ .content__mHGci .icon___2maO.disabled__mzhPR svg path {
  fill: var(--input_icon_fg_disabled);
}
.date-text__yAcen .content__mHGci.disabled__mzhPR,
.editor-text__u2pp_ .content__mHGci.disabled__mzhPR {
  background-color: var(--input_disabled_bg);
  border: var(--input_border_disabled);
}
.date-text__yAcen.vertical__s6ULU,
.editor-text__u2pp_.vertical__s6ULU {
  background-color: transparent;
  height: 100%;
  top: unset;
  width: 100%;
}
.date-text__yAcen.vertical__s6ULU .content__mHGci,
.editor-text__u2pp_.vertical__s6ULU .content__mHGci {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: calc(100% - 8px);
  padding: 0;
  right: 0;
  width: calc(100% - 4px);
}
.date-text__yAcen.vertical__s6ULU .content__mHGci input,
.editor-text__u2pp_.vertical__s6ULU .content__mHGci input {
  background-color: unset;
  font-family: var(--tertiaryFont);
  font-size: 14px;
  height: inherit;
  line-height: 20px;
  padding: 0 16px;
}
.date-text__yAcen.vertical__s6ULU .content__mHGci input:disabled,
.editor-text__u2pp_.vertical__s6ULU .content__mHGci input:disabled {
  background-color: var(--input_disabled_bg);
  //color: var(--input_disabled_fg);
}
.date-text__yAcen.vertical__s6ULU .content__mHGci.disabled__mzhPR,
.editor-text__u2pp_.vertical__s6ULU .content__mHGci.disabled__mzhPR {
  background-color: var(--input_disabled_bg);
  border: unset;
}
.date-text__yAcen .vertical-border__sOIht,
.editor-text__u2pp_ .vertical-border__sOIht {
  border: var(--input_vertical_border);
  border-radius: 12px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.date-text__yAcen .vertical-border__sOIht.active__lUEyn,
.editor-text__u2pp_ .vertical-border__sOIht.active__lUEyn {
  border: var(--input_vertical_focused_border);
}
.date-text__yAcen .vertical-border__sOIht.disabled__mzhPR,
.editor-text__u2pp_ .vertical-border__sOIht.disabled__mzhPR {
  background-color: var(--input_disabled_bg);
}
.date-text__yAcen.locator__sjnWU,
.editor-text__u2pp_.locator__sjnWU {
  position: relative;
}
.date-text__yAcen.locator__sjnWU .content__mHGci,
.editor-text__u2pp_.locator__sjnWU .content__mHGci {
  border-bottom-left-radius: 0;
  border-left: none;
  border-color: var(--grid_loc_command_border_color);
  border-top-left-radius: 0;
  position: relative;
  width: 100%;
}
.date-text__yAcen.locator__sjnWU .content__mHGci input,
.editor-text__u2pp_.locator__sjnWU .content__mHGci input {
  font-family: var(--tertiaryFont);
  font-size: 14px;
  line-height: 20px;
  padding-left: 16px !important;
}
.date-text__yAcen.locator__sjnWU
  .content__mHGci
  input::-webkit-input-placeholder,
.editor-text__u2pp_.locator__sjnWU
  .content__mHGci
  input::-webkit-input-placeholder {
  color: var(--grid_loc_input_placeholder_fg);
}
.date-text__yAcen.locator__sjnWU .content__mHGci input:-moz-placeholder,
.date-text__yAcen.locator__sjnWU .content__mHGci input::-moz-placeholder,
.editor-text__u2pp_.locator__sjnWU .content__mHGci input:-moz-placeholder,
.editor-text__u2pp_.locator__sjnWU .content__mHGci input::-moz-placeholder {
  color: var(--grid_loc_input_placeholder_fg);
}
.date-text__yAcen.locator__sjnWU .content__mHGci input:-ms-input-placeholder,
.editor-text__u2pp_.locator__sjnWU .content__mHGci input:-ms-input-placeholder {
  color: var(--grid_loc_input_placeholder_fg);
}
.date-text__yAcen.locator__sjnWU.premium__Jfdor.vertical__s6ULU .content__mHGci,
.date-text__yAcen.locator__sjnWU.premium__Jfdor:not(.vertical__s6ULU)
  .content__mHGci,
.editor-text__u2pp_.locator__sjnWU.premium__Jfdor.vertical__s6ULU
  .content__mHGci,
.editor-text__u2pp_.locator__sjnWU.premium__Jfdor:not(.vertical__s6ULU)
  .content__mHGci {
  border-left: none;
  border-color: var(--grid_loc_command_border_color);
  border-radius: 0 8px 8px 0;
}
.date-text__yAcen.lookup__nsabd .icon___2maO,
.editor-text__u2pp_.lookup__nsabd .icon___2maO {
  height: 100%;
}
.date-text__yAcen.lookup__nsabd .icon___2maO svg,
.editor-text__u2pp_.lookup__nsabd .icon___2maO svg {
  width: 16px;
}
.date-text__yAcen.lookup__nsabd .icon___2maO svg path,
.editor-text__u2pp_.lookup__nsabd .icon___2maO svg path {
  fill: var(--lookup_editor_icon);
}
.date-text__yAcen.multiline-label__JC3de .content__mHGci,
.editor-text__u2pp_.multiline-label__JC3de .content__mHGci {
  bottom: 0;
  height: 26px;
}
.date-text__yAcen.empty-bg__dPduv .content__mHGci,
.editor-text__u2pp_.empty-bg__dPduv .content__mHGci {
  background: var(--cp_empty_bg);
}
.date-text__yAcen.empty-bg__dPduv .content__mHGci .icon___2maO svg path,
.editor-text__u2pp_.empty-bg__dPduv .content__mHGci .icon___2maO svg path {
  fill: var(--cp_empty_icon) !important;
}
.date-text__yAcen.focused__pfQHq:not(.grid__RbdHG):not(.premium__Jfdor),
.editor-text__u2pp_.focused__pfQHq:not(.grid__RbdHG):not(.premium__Jfdor) {
  background-color: var(--input_focused_bg);
}
.date-text__yAcen.focused__pfQHq:not(.vertical__s6ULU) .content__mHGci,
.editor-text__u2pp_.focused__pfQHq:not(.vertical__s6ULU) .content__mHGci {
  border: none;
  -moz-box-shadow: 0 0 3px 1px var(--theme_darkprimary_fg);
  -webkit-box-shadow: 0 0 3px 1px var(--theme_darkprimary_fg);
  box-shadow: 0 0 3px 1px var(--theme_darkprimary_fg);
}
.date-text__yAcen.focused__pfQHq:not(.vertical__s6ULU)
  .content__mHGci
  input:-webkit-autofill,
.date-text__yAcen.focused__pfQHq:not(.vertical__s6ULU)
  .content__mHGci
  input:-webkit-autofill:active,
.date-text__yAcen.focused__pfQHq:not(.vertical__s6ULU)
  .content__mHGci
  input:-webkit-autofill:focus,
.date-text__yAcen.focused__pfQHq:not(.vertical__s6ULU)
  .content__mHGci
  input:-webkit-autofill:hover,
.editor-text__u2pp_.focused__pfQHq:not(.vertical__s6ULU)
  .content__mHGci
  input:-webkit-autofill,
.editor-text__u2pp_.focused__pfQHq:not(.vertical__s6ULU)
  .content__mHGci
  input:-webkit-autofill:active,
.editor-text__u2pp_.focused__pfQHq:not(.vertical__s6ULU)
  .content__mHGci
  input:-webkit-autofill:focus,
.editor-text__u2pp_.focused__pfQHq:not(.vertical__s6ULU)
  .content__mHGci
  input:-webkit-autofill:hover {
  -webkit-box-shadow: var(--input_autofill_focused_shadow) !important;
}
.date-text__yAcen.focused__pfQHq .vertical-border__sOIht,
.editor-text__u2pp_.focused__pfQHq .vertical-border__sOIht {
  border: var(--input_vertical_focused_border);
}
.date-text__yAcen.focused__pfQHq .content__mHGci .icon___2maO,
.editor-text__u2pp_.focused__pfQHq .content__mHGci .icon___2maO {
  background-color: transparent;
  color: var(--input_focused_fg);
}
.date-text__yAcen.focused__pfQHq .content__mHGci .icon___2maO svg path,
.editor-text__u2pp_.focused__pfQHq .content__mHGci .icon___2maO svg path {
  fill: var(--input_focused_fg);
}
.date-text__yAcen.color-picker-d__m1jsI .content__mHGci input,
.date-text__yAcen.color-picker-d__m1jsI .content__mHGci input:disabled,
.date-text__yAcen.color-picker___DwlC .content__mHGci input,
.date-text__yAcen.color-picker___DwlC .content__mHGci input:disabled,
.editor-text__u2pp_.color-picker-d__m1jsI .content__mHGci input,
.editor-text__u2pp_.color-picker-d__m1jsI .content__mHGci input:disabled,
.editor-text__u2pp_.color-picker___DwlC .content__mHGci input,
.editor-text__u2pp_.color-picker___DwlC .content__mHGci input:disabled {
  background-color: inherit;
}
.date-text__yAcen.color-picker-d__m1jsI .content__mHGci .icon___2maO svg path,
.editor-text__u2pp_.color-picker-d__m1jsI
  .content__mHGci
  .icon___2maO
  svg
  path {
  fill: #fff;
}
.date-text__yAcen.grid__RbdHG:not(.color-picker___DwlC) .content__mHGci,
.editor-text__u2pp_.grid__RbdHG:not(.color-picker___DwlC) .content__mHGci {
  border: none;
}
.date-text__yAcen.grid__RbdHG:not(.color-picker___DwlC) .content__mHGci input,
.editor-text__u2pp_.grid__RbdHG:not(.color-picker___DwlC)
  .content__mHGci
  input {
  font-size: 10pt;
  padding: 0 5px;
}
.date-text__yAcen.grid__RbdHG:not(.color-picker___DwlC).focused__pfQHq
  .content__mHGci,
.editor-text__u2pp_.grid__RbdHG:not(.color-picker___DwlC).focused__pfQHq
  .content__mHGci {
  box-shadow: none;
}
.date-text__yAcen.dashboard__ULHSO .content__mHGci,
.editor-text__u2pp_.dashboard__ULHSO .content__mHGci {
  left: unset;
  top: unset;
}
.date-text__yAcen.warning__Mnpx9 .content__mHGci,
.editor-text__u2pp_.warning__Mnpx9 .content__mHGci {
  box-shadow: var(--input_warning_shadow);
}
.date-text__yAcen.error__uRKAo .content__mHGci,
.editor-text__u2pp_.error__uRKAo .content__mHGci {
  box-shadow: var(--input_error_shadow);
}
.date-text__yAcen.input-textRight__Q5kFY .content__mHGci input,
.editor-text__u2pp_.input-textRight__Q5kFY .content__mHGci input {
  text-align: right;
}
.date-text__yAcen.editor-date__sdRob.input-textRight__Q5kFY
  .content__mHGci
  input,
.editor-text__u2pp_.editor-date__sdRob.input-textRight__Q5kFY
  .content__mHGci
  input {
  text-align: left;
}
.date-text__yAcen .tooltipHolder__pF4RW,
.editor-text__u2pp_ .tooltipHolder__pF4RW {
  color: var(--input_tooltip_fg);
  font-size: var(--font_size_label);
  font-weight: 300;
  line-height: 26px;
}
.date-text__yAcen input[type="password"],
.date-text__yAcen input[type="text"],
.editor-text__u2pp_ input[type="password"],
.editor-text__u2pp_ input[type="text"] {
  display: block;
}
.date-text__yAcen input:focus,
.date-text__yAcen input:valid,
.editor-text__u2pp_ input:focus,
.editor-text__u2pp_ input:valid {
  box-shadow: none;
  outline: none;
}
.date-text__yAcen.premium__Jfdor:not(.vertical__s6ULU) .content__mHGci,
.editor-text__u2pp_.premium__Jfdor:not(.vertical__s6ULU) .content__mHGci {
  border: var(--input_border);
  border-radius: 4px;
  box-shadow: var(--input_shadow);
}
.date-text__yAcen.premium__Jfdor:not(.vertical__s6ULU)
  .content__mHGci.disabled__mzhPR,
.editor-text__u2pp_.premium__Jfdor:not(.vertical__s6ULU)
  .content__mHGci.disabled__mzhPR {
  border: var(--input_border_disabled);
}
.date-text__yAcen.premium__Jfdor:not(.vertical__s6ULU)
  .content__mHGci
  input:disabled,
.editor-text__u2pp_.premium__Jfdor:not(.vertical__s6ULU)
  .content__mHGci
  input:disabled {
  text-shadow: var(--input_disabled_text_shadow);
}
.date-text__yAcen.premium__Jfdor:not(.vertical__s6ULU)
  .content__mHGci
  .icon___2maO,
.editor-text__u2pp_.premium__Jfdor:not(.vertical__s6ULU)
  .content__mHGci
  .icon___2maO {
  padding-left: 5px;
  width: 22px;
}
.date-text__yAcen.premium__Jfdor .con-adv__UmTYp input,
.editor-text__u2pp_.premium__Jfdor .con-adv__UmTYp input {
  padding: 0 2px 0 10px;
}
.date-text__yAcen.premium__Jfdor.focused__pfQHq .content__mHGci,
.editor-text__u2pp_.premium__Jfdor.focused__pfQHq .content__mHGci {
  background-color: var(--input_focused_bg);
  border: var(--input_focused_border);
  -webkit-box-shadow: 0 3px 6px 1px rgba(61, 207, 120, 0.17);
  -moz-box-shadow: 0 3px 6px 1px rgba(61, 207, 120, 0.17);
  box-shadow: 0 3px 6px 1px rgba(61, 207, 120, 0.17);
  box-shadow: none;
}
.date-text__yAcen.premium__Jfdor.focused__pfQHq
  .content__mHGci
  .icon___2maO
  svg
  path,
.editor-text__u2pp_.premium__Jfdor.focused__pfQHq
  .content__mHGci
  .icon___2maO
  svg
  path {
  fill: var(--input_icon_fg);
}
.date-text__yAcen.premium__Jfdor.grid__RbdHG.focused__pfQHq,
.editor-text__u2pp_.premium__Jfdor.grid__RbdHG.focused__pfQHq {
  background-color: var(--grid_eip_bg);
}
.date-text__yAcen.premium__Jfdor.grid__RbdHG.focused__pfQHq .content__mHGci,
.editor-text__u2pp_.premium__Jfdor.grid__RbdHG.focused__pfQHq .content__mHGci {
  background-color: var(--grid_eip_content_bg);
  border: none;
}
.cp-editor__vEWtB {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-items: center;
  justify-content: flex-start;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 26px;
  width: 100%;
}
.cp-editor__vEWtB .content__mHGci {
  border: none;
  height: inherit;
  line-height: 26px;
  padding: 0;
  position: relative;
}
.cp-editor__vEWtB .content__mHGci input {
  border: none;
  font-size: 9pt;
  height: 20px;
  line-height: 20px;
  outline: none;
  padding: 0 5px;
  text-align: right;
  width: 65px;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.date-text__yAcen {
  height: inherit;
  position: relative;
  width: calc(100% - 40px);
}
.date-text__yAcen .content__mHGci {
  align-items: center;
  display: inline-flex;
  height: inherit;
  left: 0;
  padding: 0;
  position: relative;
  top: 0;
  width: 100%;
}
.date-text__yAcen .content__mHGci input {
  background-color: transparent;
  border: none;
  color: var(--signIn_text_fg);
  font-size: 12pt;
  height: calc(100% - 2px);
  line-height: inherit;
  outline: none;
  width: inherit;
}
.date-text__yAcen .content__mHGci input.clearable__XCPtx {
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 160'><path style='fill:var(--neutral_400);' d='M 6.8496094,0 A 6.8518967,6.8518967 0 0 0 2.0761719,11.765625 L 70.310547,80 2.0761719,148.23438 a 6.8518967,6.8518967 0 1 0 9.6894531,9.68945 L 80,89.689453 148.23438,157.92383 a 6.8518967,6.8518967 0 1 0 9.68945,-9.68945 L 89.689453,80 157.92383,11.765625 A 6.8518967,6.8518967 0 1 0 148.23438,2.0761719 L 80,70.310547 11.765625,2.0761719 A 6.8518967,6.8518967 0 0 0 6.8496094,0 Z'/></svg>");
  background-position: right -16px center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  padding: 0 18px 0 10px !important;
}
.date-text__yAcen .content__mHGci input.clearable__XCPtx.X__CiKFm {
  transition: background 0.5s;
}
.date-text__yAcen .content__mHGci input.clearable__XCPtx.onX__MotWr {
  cursor: pointer;
}
.date-text__yAcen .content__mHGci input.clearable__XCPtx::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}
.date-text__yAcen .content__mHGci input.clearable__XCPtx.X__CiKFm {
  background-position: right 5px center;
}
.date-text__yAcen .content__mHGci input.clearable-dark__ap6sU {
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 160'><path style='fill:var(--neutral_400);' d='M 6.8496094,0 A 6.8518967,6.8518967 0 0 0 2.0761719,11.765625 L 70.310547,80 2.0761719,148.23438 a 6.8518967,6.8518967 0 1 0 9.6894531,9.68945 L 80,89.689453 148.23438,157.92383 a 6.8518967,6.8518967 0 1 0 9.68945,-9.68945 L 89.689453,80 157.92383,11.765625 A 6.8518967,6.8518967 0 1 0 148.23438,2.0761719 L 80,70.310547 11.765625,2.0761719 A 6.8518967,6.8518967 0 0 0 6.8496094,0 Z'/></svg>");
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 160'><path d='M 6.8496094,0 A 6.8518967,6.8518967 0 0 0 2.0761719,11.765625 L 70.310547,80 2.0761719,148.23438 a 6.8518967,6.8518967 0 1 0 9.6894531,9.68945 L 80,89.689453 148.23438,157.92383 a 6.8518967,6.8518967 0 1 0 9.68945,-9.68945 L 89.689453,80 157.92383,11.765625 A 6.8518967,6.8518967 0 1 0 148.23438,2.0761719 L 80,70.310547 11.765625,2.0761719 A 6.8518967,6.8518967 0 0 0 6.8496094,0 Z' style='fill: rgb(163, 163, 163, 1);' /></svg>");
  background-position: right -16px center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  padding: 0 18px 0 10px !important;
}
.date-text__yAcen .content__mHGci input.clearable-dark__ap6sU.X__CiKFm {
  transition: background 0.5s;
}
.date-text__yAcen .content__mHGci input.clearable-dark__ap6sU.onX__MotWr {
  cursor: pointer;
}
.date-text__yAcen .content__mHGci input.clearable-dark__ap6sU::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}
.date-text__yAcen .content__mHGci input.clearable-dark__ap6sU.X__CiKFm {
  background-position: right 5px center;
}
.date-text__yAcen .content__mHGci input:-webkit-autofill,
.date-text__yAcen .content__mHGci input:-webkit-autofill:active,
.date-text__yAcen .content__mHGci input:-webkit-autofill:focus,
.date-text__yAcen .content__mHGci input:-webkit-autofill:hover {
  -webkit-box-shadow: var(--signIn_text_shadow) !important;
}
.date-text__yAcen .content__mHGci .icon___2maO {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%;
  position: relative;
  width: 40px;
}
.date-text__yAcen .content__mHGci .icon___2maO svg {
  height: 20px;
  width: 20px;
}
.date-text__yAcen .content__mHGci .icon___2maO svg path {
  fill: var(--signIn_field_icon_fg);
}
.date-text__yAcen.vertical__s6ULU .content__mHGci {
  margin-top: 3px;
  padding-left: 20px;
}
.date-text__yAcen.vertical__s6ULU .content__mHGci input {
  font-size: 18px;
}
.date-text__yAcen.vertical__s6ULU .content__mHGci input.clearable__XCPtx {
  padding: 0 18px 0 0 !important;
}
.date-text__yAcen.focused__pfQHq .content__mHGci input:-webkit-autofill,
.date-text__yAcen.focused__pfQHq .content__mHGci input:-webkit-autofill:active,
.date-text__yAcen.focused__pfQHq .content__mHGci input:-webkit-autofill:focus,
.date-text__yAcen.focused__pfQHq .content__mHGci input:-webkit-autofill:hover {
  -webkit-box-shadow: var(--signIn_field_focused_shadow) !important;
}
.editor-readonly__vD4BJ .content__mHGci {
  background-color: var(--input_disabled_bg);
}
.editor-text__cjmjl {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-content: stretch;
  justify-content: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: inherit;
  left: 0;
  min-height: inherit;
  position: absolute;
  top: 0;
  width: inherit;
}
.editor-text__cjmjl:focus-within .content__y9ARE {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.editor-text__cjmjl .content__y9ARE {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-content: stretch;
  justify-content: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--input_bg);
  border: var(--theme_editor_common_border);
  border-radius: 8px;
  height: calc(100% - 8px);
  position: absolute;
}
.editor-text__cjmjl .content__y9ARE input {
  background-color: var(--input_text_editor_bg);
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--input_text_editor_fg);
  font-family: var(--defaultFont);
  font-size: var(--font_size_input);
  font-weight: 500;
  height: var(--input_height);
  line-height: var(--input_height);
  outline: none;
  padding: 0 2px 0 4px;
  text-align: left;
  width: 100%;
}
.editor-text__cjmjl .content__y9ARE input:disabled {
  background-color: var(--input_disabled_bg);
  //color: var(--input_disabled_fg);
}
.editor-text__cjmjl .content__y9ARE input:disabled.ios__BZi6V {
  //color: var(--input_disabled_fg_ios);
}
.editor-text__cjmjl .content__y9ARE input.clearable__ZN0wi {
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 160'><path style='fill:var(--theme_input_cleable_icon);' d='M 6.8496094,0 A 6.8518967,6.8518967 0 0 0 2.0761719,11.765625 L 70.310547,80 2.0761719,148.23438 a 6.8518967,6.8518967 0 1 0 9.6894531,9.68945 L 80,89.689453 148.23438,157.92383 a 6.8518967,6.8518967 0 1 0 9.68945,-9.68945 L 89.689453,80 157.92383,11.765625 A 6.8518967,6.8518967 0 1 0 148.23438,2.0761719 L 80,70.310547 11.765625,2.0761719 A 6.8518967,6.8518967 0 0 0 6.8496094,0 Z'/></svg>");
  background-position: right -16px center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  padding: 0 18px 0 14px !important;
}
.editor-text__cjmjl .content__y9ARE input.clearable__ZN0wi.X__wI6JQ {
  transition: background 0.5s;
}
.editor-text__cjmjl .content__y9ARE input.clearable__ZN0wi.onX__VrSSQ {
  cursor: pointer;
}
.editor-text__cjmjl .content__y9ARE input.clearable__ZN0wi::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}
.editor-text__cjmjl .content__y9ARE input.clearable__ZN0wi.X__wI6JQ {
  background-position: right 3px center;
}
.editor-text__cjmjl .content__y9ARE .icon__CpsAe {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: inherit;
  width: 36px;
}
.editor-text__cjmjl .content__y9ARE .icon__CpsAe svg {
  height: 24px;
  width: 24px;
}
.editor-text__cjmjl .content__y9ARE .icon__CpsAe svg path {
  fill: var(--input_icon);
}
.editor-text__cjmjl .content__y9ARE .icon__CpsAe.disabled__Csk1s svg path {
  fill: var(--input_disabled_icon);
}
.editor-text__cjmjl.vertical__mPqsz {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: transparent;
  top: unset;
  width: 100%;
}
.editor-text__cjmjl.vertical__mPqsz .content__y9ARE {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: calc(100% - 8px);
  padding: 0;
  right: 0;
  width: 100%;
}
.editor-text__cjmjl.vertical__mPqsz .content__y9ARE input {
  background-color: unset;
  font-family: var(--defaultFont);
  font-size: 16px;
  height: inherit;
  line-height: 22px;
  padding: 0 14px;
}
.editor-text__cjmjl.vertical__mPqsz .content__y9ARE input:disabled {
  background-color: var(--input_disabled_bg);
  //color: var(--input_disabled_fg);
}
.editor-text__cjmjl.vertical__mPqsz .content__y9ARE.disabled__Csk1s {
  background-color: var(--input_disabled_bg);
  border: unset;
}
.editor-text__cjmjl.disabled__Csk1s {
  border-color: var(--input_disabled_bg);
}
.editor-text__cjmjl.disabled__Csk1s input {
  background-color: var(--input_disabled_bg);
  //color: var(--input_disabled_fg);
}
.editor-text__cjmjl.read-only__HtsSj {
  border-color: var(--input_readonly_bg);
  padding-left: 5px;
}
.editor-text__cjmjl.read-only__HtsSj input {
  background-color: var(--input_readonly_bg);
  color: var(--input_fg);
}
.editor-text__cjmjl.lookup-header-input__bR62F .input-bar__g00kr {
  border-bottom: var(--lookup_header_border);
}
.editor-text__cjmjl.lookup-header-input__bR62F .icon__CpsAe {
  height: 100%;
}
.editor-text__cjmjl.lookup-header-input__bR62F .icon__CpsAe svg {
  width: 16px;
}
.editor-text__cjmjl.lookup-header-input__bR62F .icon__CpsAe svg path {
  fill: var(--lookup_icon);
}
.editor-text__cjmjl input::-webkit-inner-spin-button,
.editor-text__cjmjl input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.editor-text__cjmjl input[type="number"] {
  -moz-appearance: textfield;
}
.editor-text__cjmjl input::placeholder {
  color: #a3a3a3;
  font-size: 16px;
}
.editor-text__cjmjl input[type="password"],
.editor-text__cjmjl input[type="text"] {
  display: block;
}
.editor-text__cjmjl input:focus,
.editor-text__cjmjl input:valid {
  box-shadow: none;
  outline: none;
}
.editor-text__cjmjl.input-textRight__nrZFb input {
  text-align: right;
}
.editor-text__cjmjl.editor-date__bCY5o.input-textRight__nrZFb input {
  text-align: left;
}
.editor-text__cjmjl.warning__Ld5Br
  input:focus
  + .icon__CpsAe
  + .input-bar__g00kr:after,
.editor-text__cjmjl.warning__Ld5Br
  input:focus
  + .icon__CpsAe
  + .input-bar__g00kr:before,
.editor-text__cjmjl.warning__Ld5Br input:focus + .input-bar__g00kr:after,
.editor-text__cjmjl.warning__Ld5Br input:focus + .input-bar__g00kr:before,
.editor-text__cjmjl.warning__Ld5Br
  input:valid
  + .icon__CpsAe
  + .input-bar__g00kr:after,
.editor-text__cjmjl.warning__Ld5Br
  input:valid
  + .icon__CpsAe
  + .input-bar__g00kr:before,
.editor-text__cjmjl.warning__Ld5Br input:valid + .input-bar__g00kr:after,
.editor-text__cjmjl.warning__Ld5Br input:valid + .input-bar__g00kr:before {
  background-color: var(--input_warning_bg);
  width: 0;
}
.editor-text__cjmjl.warning__Ld5Br
  input:not(:focus):valid
  + .icon__CpsAe
  + .input-bar__g00kr,
.editor-text__cjmjl.warning__Ld5Br input:not(:focus):valid + .input-bar__g00kr {
  border-bottom: var(--input_memo_warning_border);
}
.editor-text__cjmjl.error__bPGRw
  input:focus
  + .icon__CpsAe
  + .input-bar__g00kr:after,
.editor-text__cjmjl.error__bPGRw
  input:focus
  + .icon__CpsAe
  + .input-bar__g00kr:before,
.editor-text__cjmjl.error__bPGRw input:focus + .input-bar__g00kr:after,
.editor-text__cjmjl.error__bPGRw input:focus + .input-bar__g00kr:before,
.editor-text__cjmjl.error__bPGRw
  input:valid
  + .icon__CpsAe
  + .input-bar__g00kr:after,
.editor-text__cjmjl.error__bPGRw
  input:valid
  + .icon__CpsAe
  + .input-bar__g00kr:before,
.editor-text__cjmjl.error__bPGRw input:valid + .input-bar__g00kr:after,
.editor-text__cjmjl.error__bPGRw input:valid + .input-bar__g00kr:before {
  background-color: var(--input_error_bg);
  width: 0;
}
.editor-text__cjmjl.error__bPGRw
  input:not(:focus):valid
  + .icon__CpsAe
  + .input-bar__g00kr,
.editor-text__cjmjl.error__bPGRw input:not(:focus):valid + .input-bar__g00kr {
  border-bottom: var(--input_memo_error_border);
}
.editor-text__cjmjl.editor-gsm__jcu0k {
  min-height: var(--field_min_height);
  padding: var(--field_padding_top) 5px var(--field_padding_bottom);
  width: 100%;
}
.editor-text__cjmjl.premium__EXg3B .content__y9ARE input {
  font-size: 12pt;
}
.editor-text__cjmjl.premium__EXg3B
  .content__y9ARE
  .icon__CpsAe
  + input.clearable__ZN0wi {
  padding-left: 2px !important;
}
.date-text__KxeEk .content__y9ARE,
.sign-text__sr08L .content__y9ARE {
  padding-left: 14px;
  position: relative;
  width: 100%;
}
.date-text__KxeEk .content__y9ARE input,
.sign-text__sr08L .content__y9ARE input {
  background-color: transparent;
  border: none;
  color: var(--signin_field_input_fg);
  font-size: 14pt;
  height: 100%;
  line-height: inherit;
  outline: none;
  width: inherit;
}
.date-text__KxeEk .content__y9ARE input.clearable__ZN0wi,
.sign-text__sr08L .content__y9ARE input.clearable__ZN0wi {
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 160'><path style='fill:var(--theme_input_cleable_icon);' d='M 6.8496094,0 A 6.8518967,6.8518967 0 0 0 2.0761719,11.765625 L 70.310547,80 2.0761719,148.23438 a 6.8518967,6.8518967 0 1 0 9.6894531,9.68945 L 80,89.689453 148.23438,157.92383 a 6.8518967,6.8518967 0 1 0 9.68945,-9.68945 L 89.689453,80 157.92383,11.765625 A 6.8518967,6.8518967 0 1 0 148.23438,2.0761719 L 80,70.310547 11.765625,2.0761719 A 6.8518967,6.8518967 0 0 0 6.8496094,0 Z'/></svg>");
  background-position: right -16px center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  padding: 0 18px 0 14px !important;
}
.date-text__KxeEk .content__y9ARE input.clearable__ZN0wi.X__wI6JQ,
.sign-text__sr08L .content__y9ARE input.clearable__ZN0wi.X__wI6JQ {
  transition: background 0.5s;
}
.date-text__KxeEk .content__y9ARE input.clearable__ZN0wi.onX__VrSSQ,
.sign-text__sr08L .content__y9ARE input.clearable__ZN0wi.onX__VrSSQ {
  cursor: pointer;
}
.date-text__KxeEk .content__y9ARE input.clearable__ZN0wi::-ms-clear,
.sign-text__sr08L .content__y9ARE input.clearable__ZN0wi::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}
.date-text__KxeEk .content__y9ARE input.clearable__ZN0wi.X__wI6JQ,
.sign-text__sr08L .content__y9ARE input.clearable__ZN0wi.X__wI6JQ {
  background-position: right 3px center;
}
.date-text__KxeEk.recovery__HXi2g,
.sign-text__sr08L.recovery__HXi2g {
  height: inherit;
}
.date-text__KxeEk.recovery__HXi2g .content__y9ARE input,
.sign-text__sr08L.recovery__HXi2g .content__y9ARE input {
  color: var(--recovery_signText_input_fg);
  font-size: 12pt;
}
.date-text__KxeEk.recovery__HXi2g .content__y9ARE input.clearable__ZN0wi,
.sign-text__sr08L.recovery__HXi2g .content__y9ARE input.clearable__ZN0wi {
  padding: 0 18px 0 0;
  transition: background 0.5s;
}
.date-text__KxeEk.recovery__HXi2g
  .content__y9ARE
  input.clearable__ZN0wi.X__wI6JQ,
.sign-text__sr08L.recovery__HXi2g
  .content__y9ARE
  input.clearable__ZN0wi.X__wI6JQ {
  background-position: right 5px center;
}
.date-text__KxeEk.premium__EXg3B .content__y9ARE input,
.sign-text__sr08L.premium__EXg3B .content__y9ARE input {
  font-size: 12pt;
}
.date-text__KxeEk .content__y9ARE {
  padding-left: 8px;
}
.date-text__KxeEk .content__y9ARE input.clearable__ZN0wi {
  padding: 0 18px 0 0 !important;
}
.editor-text__cjmjl.extra-icon__ne_8F .content__y9ARE input {
  padding-right: 40px;
}
.editor-text__zc6cm {
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -ms-flex-line-pack: center;
  border: var(--field_border);
  border-radius: 4px;
  height: calc(100% - 12px);
  position: relative;
}
.editor-text__zc6cm,
.editor-text__zc6cm .content__aMOQD {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}
.editor-text__zc6cm .content__aMOQD {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  height: 100%;
  padding: 0 10px;
}
.editor-text__zc6cm .content__aMOQD input {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  color: var(--input_fg);
  font-size: 26px;
  height: var(--input_height);
  line-height: var(--input_height);
  outline: none;
  padding: 0;
  text-align: left;
  width: 100%;
}
.editor-text__zc6cm .content__aMOQD input:disabled {
  //color: var(--input_disabled_fg);
}
.editor-text__zc6cm .content__aMOQD input:disabled.ios__ne4Qh {
  //color: var(--input_disabled_fg_ios);
}
.editor-text__zc6cm .content__aMOQD input.clearable__VPzui {
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 160'><path style='fill:var(--theme_primary_text);' d='M 6.8496094,0 A 6.8518967,6.8518967 0 0 0 2.0761719,11.765625 L 70.310547,80 2.0761719,148.23438 a 6.8518967,6.8518967 0 1 0 9.6894531,9.68945 L 80,89.689453 148.23438,157.92383 a 6.8518967,6.8518967 0 1 0 9.68945,-9.68945 L 89.689453,80 157.92383,11.765625 A 6.8518967,6.8518967 0 1 0 148.23438,2.0761719 L 80,70.310547 11.765625,2.0761719 A 6.8518967,6.8518967 0 0 0 6.8496094,0 Z'/></svg>");
  background-position: right -24px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 30px 0 14px !important;
}
.editor-text__zc6cm .content__aMOQD input.clearable__VPzui.X__kK0I2 {
  transition: background 0.5s;
}
.editor-text__zc6cm .content__aMOQD input.clearable__VPzui.onX__cyoKo {
  cursor: pointer;
}
.editor-text__zc6cm .content__aMOQD input.clearable__VPzui::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}
.editor-text__zc6cm .content__aMOQD input.clearable__VPzui.X__kK0I2 {
  background-position: right 3px center;
}
.editor-text__zc6cm .content__aMOQD .icon__vPCVG {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  height: inherit;
  width: 40px;
}
.editor-text__zc6cm .content__aMOQD .icon__vPCVG svg {
  height: 40px;
  width: 40px;
}
.editor-text__zc6cm .content__aMOQD .icon__vPCVG svg path {
  fill: var(--input_fg);
}
.editor-text__zc6cm .content__aMOQD .icon__vPCVG.disabled__F_vuq svg path {
  fill: var(--input_disabled_icon);
}
.editor-text__zc6cm .input-bar__JW2aw {
  border-bottom: var(--input_bar_border);
  left: 0;
  width: 100%;
}
.editor-text__zc6cm .input-bar__JW2aw:after,
.editor-text__zc6cm .input-bar__JW2aw:before {
  content: "";
  height: 2px;
  position: absolute;
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -moz-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -o-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  width: 0;
}
.editor-text__zc6cm .input-bar__JW2aw:before {
  left: 50%;
}
.editor-text__zc6cm .input-bar__JW2aw:after {
  right: 50%;
}
.editor-text__zc6cm.lookup-header-input__jhEAh .input-bar__JW2aw {
  border-bottom: var(--lookup_header_border);
}
.editor-text__zc6cm.lookup-header-input__jhEAh .icon__vPCVG {
  height: 100%;
}
.editor-text__zc6cm.lookup-header-input__jhEAh .icon__vPCVG svg {
  width: 16px;
}
.editor-text__zc6cm.lookup-header-input__jhEAh .icon__vPCVG svg path {
  fill: var(--lookup_icon);
}
.editor-text__zc6cm.focused___7eqr .input-bar__JW2aw:after,
.editor-text__zc6cm.focused___7eqr .input-bar__JW2aw:before {
  background-color: var(--input_focused_bg);
  width: 50.5%;
}
.editor-text__zc6cm input[type="password"],
.editor-text__zc6cm input[type="text"] {
  display: block;
}
.editor-text__zc6cm input::-webkit-inner-spin-button,
.editor-text__zc6cm input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.editor-text__zc6cm input[type="number"] {
  -moz-appearance: textfield;
}
.editor-text__zc6cm input:focus,
.editor-text__zc6cm input:valid {
  box-shadow: none;
  outline: none;
}
.editor-text__zc6cm.input-textRight__QV10m input {
  text-align: right;
}
.editor-text__zc6cm.editor-date__PER80.input-textRight__QV10m input {
  text-align: left;
}
.editor-text__zc6cm.warning__g235U
  input:focus
  + .icon__vPCVG
  + .input-bar__JW2aw:after,
.editor-text__zc6cm.warning__g235U
  input:focus
  + .icon__vPCVG
  + .input-bar__JW2aw:before,
.editor-text__zc6cm.warning__g235U input:focus + .input-bar__JW2aw:after,
.editor-text__zc6cm.warning__g235U input:focus + .input-bar__JW2aw:before,
.editor-text__zc6cm.warning__g235U
  input:valid
  + .icon__vPCVG
  + .input-bar__JW2aw:after,
.editor-text__zc6cm.warning__g235U
  input:valid
  + .icon__vPCVG
  + .input-bar__JW2aw:before,
.editor-text__zc6cm.warning__g235U input:valid + .input-bar__JW2aw:after,
.editor-text__zc6cm.warning__g235U input:valid + .input-bar__JW2aw:before {
  background-color: var(--input_warning_bg);
  width: 0;
}
.editor-text__zc6cm.warning__g235U
  input:not(:focus):valid
  + .icon__vPCVG
  + .input-bar__JW2aw,
.editor-text__zc6cm.warning__g235U input:not(:focus):valid + .input-bar__JW2aw {
  border-bottom: var(--input_memo_warning_border);
}
.editor-text__zc6cm.error__zIqkG
  input:focus
  + .icon__vPCVG
  + .input-bar__JW2aw:after,
.editor-text__zc6cm.error__zIqkG
  input:focus
  + .icon__vPCVG
  + .input-bar__JW2aw:before,
.editor-text__zc6cm.error__zIqkG input:focus + .input-bar__JW2aw:after,
.editor-text__zc6cm.error__zIqkG input:focus + .input-bar__JW2aw:before,
.editor-text__zc6cm.error__zIqkG
  input:valid
  + .icon__vPCVG
  + .input-bar__JW2aw:after,
.editor-text__zc6cm.error__zIqkG
  input:valid
  + .icon__vPCVG
  + .input-bar__JW2aw:before,
.editor-text__zc6cm.error__zIqkG input:valid + .input-bar__JW2aw:after,
.editor-text__zc6cm.error__zIqkG input:valid + .input-bar__JW2aw:before {
  background-color: var(--input_error_bg);
  width: 0;
}
.editor-text__zc6cm.error__zIqkG
  input:not(:focus):valid
  + .icon__vPCVG
  + .input-bar__JW2aw,
.editor-text__zc6cm.error__zIqkG input:not(:focus):valid + .input-bar__JW2aw {
  border-bottom: var(--input_memo_error_border);
}
.editor-text__zc6cm.editor-gsm__QEaWV {
  min-height: var(--field_min_height);
  padding-bottom: var(--field_padding_bottom);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: var(--field_padding_top);
  width: 100%;
}
.editor-text__zc6cm.eip__oyHpD {
  height: 100%;
}
.editor-text__zc6cm.eip__oyHpD .content__aMOQD {
  height: 100%;
  margin-bottom: unset;
}
.editor-text__zc6cm.eip__oyHpD .content__aMOQD input {
  font-family: var(--primaryFont);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.editor-text__zc6cm.eip__oyHpD .content__aMOQD .icon__vPCVG {
  margin: 0 7px;
}
.sign-text__rCB46 {
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  width: calc(100% - 40px);
}
.sign-text__rCB46 .content__aMOQD {
  -webkit-align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  height: inherit;
  padding: 0;
  width: 100%;
}
.sign-text__rCB46 .content__aMOQD input {
  background-color: transparent;
  border: none;
  color: var(--signin_field_input_fg);
  font-size: 14pt;
  height: 100%;
  line-height: inherit;
  outline: none;
  width: inherit;
}
.sign-text__rCB46 .content__aMOQD input.clearable__VPzui {
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 160'><path style='fill:var(--theme_primary_text);' d='M 6.8496094,0 A 6.8518967,6.8518967 0 0 0 2.0761719,11.765625 L 70.310547,80 2.0761719,148.23438 a 6.8518967,6.8518967 0 1 0 9.6894531,9.68945 L 80,89.689453 148.23438,157.92383 a 6.8518967,6.8518967 0 1 0 9.68945,-9.68945 L 89.689453,80 157.92383,11.765625 A 6.8518967,6.8518967 0 1 0 148.23438,2.0761719 L 80,70.310547 11.765625,2.0761719 A 6.8518967,6.8518967 0 0 0 6.8496094,0 Z'/></svg>");
  background-position: right -24px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 30px 0 14px !important;
}
.sign-text__rCB46 .content__aMOQD input.clearable__VPzui.X__kK0I2 {
  transition: background 0.5s;
}
.sign-text__rCB46 .content__aMOQD input.clearable__VPzui.onX__cyoKo {
  cursor: pointer;
}
.sign-text__rCB46 .content__aMOQD input.clearable__VPzui::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}
.sign-text__rCB46 .content__aMOQD input.clearable__VPzui.X__kK0I2 {
  background-position: right 3px center;
}
.sign-text__rCB46 .content__aMOQD .icon__vPCVG {
  cursor: pointer;
  display: contents;
  height: 100%;
  width: 40px;
}
.sign-text__rCB46 .content__aMOQD .icon__vPCVG svg {
  height: 40px;
  width: 40px;
}
.sign-text__rCB46 .content__aMOQD .icon__vPCVG svg path {
  fill: var(--signin_field_icon_fg);
}
.sign-text__rCB46.recovery__VX9ZR {
  height: inherit;
}
.sign-text__rCB46.recovery__VX9ZR .content__aMOQD input {
  color: var(--recovery_signText_input_fg);
  font-size: 12pt;
}
.sign-text__rCB46.recovery__VX9ZR .content__aMOQD input.clearable__VPzui {
  padding: 0 18px 0 0;
  transition: background 0.5s;
}
.sign-text__rCB46.recovery__VX9ZR
  .content__aMOQD
  input.clearable__VPzui.X__kK0I2 {
  background-position: right 5px center;
}
