.overlay-screen-loader__hcKx7 {
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-name: loaderEnter__JJ8y_;
  -webkit-animation-name: loaderEnter__JJ8y_;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  left: 0;
  z-index: 1000000;
}
.overlay-screen-loader__Jtkxo,
.overlay-screen-loader__hcKx7 {
  background-color: var(--loader_bg);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}
.overlay-screen-loader__Jtkxo {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-name: loaderEnter__VYICi;
  -webkit-animation-name: loaderEnter__VYICi;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  z-index: 10001;
}
@keyframes loaderEnter__VYICi {
  0% {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
@-webkit-keyframes loaderEnter__VYICi {
  0% {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
.loader__eZe78 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100px;
}
.loader__eZe78:before {
  content: "";
  display: block;
  padding-top: 100%;
}
@keyframes rotate__vBKSF {
  to {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
  }
}
@keyframes dash__DgwWK {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  to {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color__pTyPW {
  0%,
  to {
    stroke: var(--loader_color1);
  }
  40% {
    stroke: var(--loader_color2);
  }
  66% {
    stroke: var(--loader_color3);
  }
  80%,
  90% {
    stroke: var(--loader_color4);
  }
}
.label__wuzQe {
  border-bottom: 1px solid var(--theme_editor_label_border);
  color: var(--theme_editor_label_fg);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: var(--font_size_label);
  font-weight: 300;
  -webkit-justify-content: center;
  line-height: var(--font_size_label);
  max-height: 100%;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  justify-content: center;
  -ms-flex-align: start;
  -webkit-align-content: stretch;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.label__wuzQe .phc__dcOiO {
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__wuzQe .pht__HxN3B {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  cursor: help;
  height: inherit;
}
.label__wuzQe .pht__HxN3B svg {
  height: 14px;
  width: 14px;
}
.label__wuzQe .pht__HxN3B svg path {
  fill: var(--input_icon_fg);
}
.label__wuzQe.multiline__ZjIzV {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-items: flex-end;
  justify-content: flex-start;
  -ms-flex-align: end;
  -webkit-align-content: stretch;
  align-items: flex-end;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  justify-content: space-around;
  line-height: var(--font_size_label);
  overflow: hidden;
  padding-bottom: 6px;
  text-overflow: unset;
  white-space: normal;
}
.label__wuzQe.multiline__ZjIzV .phc__dcOiO {
  line-height: 1.1em;
  overflow: hidden;
  position: unset;
  text-overflow: unset;
  white-space: normal;
}
.label__wuzQe.multiline__ZjIzV .pht__HxN3B {
  height: unset;
}
.label__wuzQe.disabled__nZ9zg {
  color: var(--theme_editor_label_disabled_fg);
}
.label__wuzQe.multiline__ZjIzV {
  padding-bottom: 0;
}
.label__wuzQe:not(.multiline__ZjIzV) span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__wuzQe span {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  min-width: 0;
  width: 100%;
}
.label__wuzQe .tooltip-icon__G_FGj {
  cursor: pointer;
  padding: 4px;
  position: absolute;
  right: 0;
  top: calc(50% - 9px);
}
.label__wuzQe .tooltip-icon__G_FGj svg {
  height: 10px;
  width: 10px;
}
.label__wuzQe .tooltip-icon__G_FGj svg path {
  fill: var(--tooltip_icon);
}
.label__wuzQe.v-label__a6wM7 {
  background-color: var(--input_text_editor_bg);
  border-radius: 12px;
  font-size: 12px;
  line-height: 16px;
  max-width: calc(100% - 16px);
  padding: 0 5px;
  position: relative;
  z-index: 3;
}
.label__wuzQe.v-label__a6wM7.has-tooltip-icon__vo70D {
  padding-right: 19px;
}
.label__wuzQe.v-label__a6wM7.has-tooltip-icon__vo70D .tooltip-icon__G_FGj {
  right: 0;
  top: calc(50% - 11px);
}
.label__wuzQe.bold__gKk5E {
  font-weight: 600;
}
.label__wuzQe.center__iNZ3n {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.label__wuzQe.center__iNZ3n + .icon__JY8GX {
  bottom: 0;
  height: 26px;
  top: unset;
}
.label__wuzQe.right-label__Cl35n {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative !important;
  width: unset !important;
}
.label__wuzQe.right-label__Cl35n.multiline__ZjIzV {
  text-align: right;
}
.label__wuzQe:not(.v-label__a6wM7).multiline__ZjIzV {
  line-height: 15px;
  text-overflow: unset;
  white-space: normal;
}
.label__wuzQe.warninglabel__bW12g {
  color: var(--field_warning_label_fg) !important;
}
.label__wuzQe.checkbox__Qsntc.v-label__a6wM7,
.label__wuzQe.radio__JV3KX.v-label__a6wM7 {
  border-radius: 0;
  display: block;
  font-size: 12px;
  font-weight: 300;
  max-width: calc(100% - 32px);
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__wuzQe.checkbox__Qsntc.v-label__a6wM7,
.label__wuzQe.checkbox__Qsntc.v-label__a6wM7.disabled__nZ9zg,
.label__wuzQe.memotext__x8U1X.v-label__a6wM7,
.label__wuzQe.memotext__x8U1X.v-label__a6wM7.disabled__nZ9zg,
.label__wuzQe.radio__JV3KX.v-label__a6wM7,
.label__wuzQe.radio__JV3KX.v-label__a6wM7.disabled__nZ9zg,
.label__wuzQe.richedit__OzE63.v-label__a6wM7,
.label__wuzQe.richedit__OzE63.v-label__a6wM7.disabled__nZ9zg {
  background-color: transparent;
}
.label__wuzQe:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.cp-label__F8gkb {
  color: var(--cp_box_fg);
  position: relative !important;
  width: 75px;
}
.clickable__F1ZA5:not(.disabled__nZ9zg) {
  cursor: pointer;
}
.label__fba5D {
  color: var(--editorlabel_topside_fg);
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: var(--font_size_label);
  font-weight: 300;
  -webkit-justify-content: center;
  max-height: 100%;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  justify-content: center;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  height: auto;
  left: 12px;
  position: relative;
  top: 0;
}
.label__fba5D,
.label__fba5D.multiline__j2Jzw {
  -webkit-align-content: stretch;
  align-content: stretch;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  line-height: var(--font_size_label);
}
.label__fba5D.multiline__j2Jzw {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: stretch;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  justify-content: space-around;
  overflow: hidden;
  padding-bottom: 6px;
}
.label__fba5D.disabled__rqR01 {
  color: var(--editorlabel_disabled_fg);
}
.label__fba5D span {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -ms-flex-pack: center;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  min-width: 0;
  width: 100%;
}
.label__fba5D .tooltip-icon__Om6J9 {
  cursor: pointer;
  padding: 4px;
  position: absolute;
  right: -20px;
  top: calc(50% - 9px);
}
.label__fba5D .tooltip-icon__Om6J9 svg {
  height: 10px;
  width: 10px;
}
.label__fba5D .tooltip-icon__Om6J9 svg path {
  fill: var(--tooltip_icon);
}
.label__fba5D.v-label__AF4jZ {
  background-color: var(--input_text_editor_bg);
  border-radius: 12px;
  font-size: 12px;
  line-height: 16px;
  max-width: calc(100% - 16px);
  padding: 0 5px;
  position: absolute;
  z-index: 3;
}
.label__fba5D.v-label__AF4jZ.has-tooltip-icon__YSx9P {
  padding-right: 19px;
}
.label__fba5D.v-label__AF4jZ.has-tooltip-icon__YSx9P .tooltip-icon__Om6J9 {
  right: 0;
  top: calc(50% - 12px);
}
.label__fba5D.bold__DmCQg {
  font-weight: 600;
}
.label__fba5D.center__dOR2D {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.label__fba5D.center__dOR2D + .icon__xpK7K {
  bottom: 0;
  height: 26px;
  top: unset;
}
.label__fba5D.right-label__PVrJ2 {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative !important;
  width: unset !important;
}
.label__fba5D.right-label__PVrJ2.multiline__j2Jzw {
  text-align: right;
}
.label__fba5D.multiline__j2Jzw {
  line-height: 15px;
  text-overflow: unset;
  white-space: normal;
}
.label__fba5D.multiline__j2Jzw:not(.center__dOR2D) {
  margin-bottom: 5px;
}
.label__fba5D.warninglabel__ggZgK {
  color: var(--field_warning_label_fg) !important;
}
.label__fba5D.checkbox__imJPl,
.label__fba5D.radio__zButt {
  background-color: transparent;
  left: 0;
  padding: 0;
}
.label__fba5D.checkbox__imJPl.disabled__rqR01,
.label__fba5D.radio__zButt.disabled__rqR01 {
  background-color: transparent;
}
.label__fba5D.checkbox__imJPl.vertical__A41KV,
.label__fba5D.radio__zButt.vertical__A41KV {
  display: block;
  font-family: var(--tertiaryFont);
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 22px);
}
.label__fba5D:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.cp-label__pZLH6 {
  color: var(--cp_box_fg);
  position: relative !important;
  width: 75px;
}
.clickable__BeXyj:not(.disabled__rqR01) {
  cursor: pointer;
}
.label__ZjB_f {
  color: var(--input_fg);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: var(--font_size_label);
  font-weight: 300;
  -webkit-justify-content: center;
  line-height: var(--font_size_label);
  max-height: 100%;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  justify-content: center;
  -ms-flex-align: start;
  -webkit-align-content: stretch;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.label__ZjB_f .phc__JxG6J {
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__ZjB_f .pht__bpPy0 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: help;
  height: inherit;
}
.label__ZjB_f .pht__bpPy0 svg {
  height: 14px;
  width: 14px;
}
.label__ZjB_f .pht__bpPy0 svg path {
  fill: var(--input_fg);
}
.label__ZjB_f.disabled__lz6n9 {
  //color: var(--input_disabled_fg);
}
.label__ZjB_f span {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.label__ZjB_f.v-label__IFfe3 {
  background-color: var(--field_bg);
  border-radius: 12px;
  color: var(--editorlabel_topside_fg);
  font-size: 24px;
  line-height: 36px;
  max-width: calc(100% - 16px);
  min-height: var(--editorlabel_height);
  padding: 0 5px;
  z-index: 3;
}
.label__ZjB_f.v-label__IFfe3:not(.checkbox__fZPJf) {
  left: 8px;
  position: absolute;
  top: -20px;
}
.label__ZjB_f.bold___E5Je {
  font-weight: 600;
}
.label__ZjB_f.center__V5mqO {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.label__ZjB_f.center__V5mqO + .icon__cmQ3e {
  bottom: 0;
  height: 26px;
  top: unset;
}
.label__ZjB_f.right-label__BZpkV {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative !important;
  width: unset !important;
}
.label__ZjB_f.right-label__BZpkV.multiline__OIFw9 {
  text-align: right;
}
.label__ZjB_f.warninglabel__owf8u {
  color: var(--field_warning_label_fg) !important;
}
.label__ZjB_f.checkbox__fZPJf,
.label__ZjB_f.radio__BTnqZ {
  background-color: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__ZjB_f.sip__OqOwA:not(.checkbox__fZPJf) {
  background-color: var(--theme_editor_bg);
  left: 0;
  position: absolute;
  top: -40px;
}
.slider-wrapper__V7RRn {
  font-size: 14px;
  line-height: 20px;
  max-width: 328px;
  width: 100%;
  word-wrap: break-word;
}
.slider-wrapper__V7RRn .slider-header__RMuFX {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 4px;
  position: relative;
}
.slider-wrapper__V7RRn .slider-header__RMuFX .caption__uWZR_,
.slider-wrapper__V7RRn .slider-header__RMuFX .value__XeHQN {
  color: var(--slider_fg);
  font-size: 14px;
  line-height: 20px;
}
.slider-wrapper__V7RRn .slider-header__RMuFX .caption__uWZR_ {
  font-weight: 400;
  left: 0;
  max-width: 42%;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.slider-wrapper__V7RRn .slider-header__RMuFX .caption__uWZR_.multiline__GV72k {
  bottom: 0;
  white-space: wrap;
}
.slider-wrapper__V7RRn .slider-header__RMuFX .value__XeHQN {
  font-weight: 500;
}
.slider-wrapper__V7RRn .slider-container__ShCsQ {
  width: 100%;
}
.slider-wrapper__V7RRn .slider-container__ShCsQ .slider__g4UAZ {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 4px;
  height: 8px;
  margin: 0;
  outline: none;
  padding: 0;
  width: 100%;
}
.slider-wrapper__V7RRn .slider-container__ShCsQ .slider__g4UAZ:focus-visible {
  box-shadow: none;
  outline: var(--focus_outline);
  outline-offset: 8px;
}
.slider-wrapper__V7RRn
  .slider-container__ShCsQ
  .slider__g4UAZ::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--slider_knob);
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  transition:
    box-shadow 0.2s ease,
    background 0.2s ease;
  width: 24px;
}
.slider-wrapper__V7RRn
  .slider-container__ShCsQ
  .slider__g4UAZ::-moz-range-thumb {
  background: var(--slider_knob);
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  transition:
    box-shadow 0.2s ease,
    background 0.2s ease;
  width: 18px;
}
.slider-wrapper__V7RRn .slider-container__ShCsQ .slider__g4UAZ.active__Ne93R {
  box-shadow: var(--slider_active_shadow);
}
.slider-wrapper__V7RRn
  .slider-container__ShCsQ
  .slider__g4UAZ.active__Ne93R::-webkit-slider-thumb {
  background: var(--slider_active_knob);
  box-shadow: var(--slider_active_knob_shadow);
}
.slider-wrapper__V7RRn
  .slider-container__ShCsQ
  .slider__g4UAZ.active__Ne93R::-moz-range-thumb {
  background: var(--slider_active_knob);
  box-shadow: var(--slider_active_knob_shadow);
}
.slider-wrapper__V7RRn.disabled__dBPO5 {
  cursor: not-allowed;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  outline: none;
  pointer-events: none;
}
.slider-wrapper__V7RRn.disabled__dBPO5 .slider__g4UAZ::-webkit-slider-thumb {
  background: var(--slider_disabled_knob);
  box-shadow: none !important;
}
.slider-wrapper__V7RRn.disabled__dBPO5 .slider__g4UAZ::-moz-range-thumb {
  background: var(--slider_disabled_knob);
  box-shadow: none !important;
}
.slider-wrapper__V7RRn {
  font-family: var(--tertiaryFont);
}
.slider-wrapper__b4HH9 {
  font-size: 14px;
  line-height: 20px;
  max-width: 328px;
  width: 100%;
  word-wrap: break-word;
}
.slider-wrapper__b4HH9 .slider-header__UjkcC {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 4px;
  position: relative;
}
.slider-wrapper__b4HH9 .slider-header__UjkcC .caption__O6EGh,
.slider-wrapper__b4HH9 .slider-header__UjkcC .value__aYLju {
  color: var(--slider_fg);
  font-size: 14px;
  line-height: 20px;
}
.slider-wrapper__b4HH9 .slider-header__UjkcC .caption__O6EGh {
  font-weight: 400;
  left: 0;
  max-width: 42%;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.slider-wrapper__b4HH9 .slider-header__UjkcC .caption__O6EGh.multiline__NA3BI {
  bottom: 0;
  white-space: wrap;
}
.slider-wrapper__b4HH9 .slider-header__UjkcC .value__aYLju {
  font-weight: 500;
}
.slider-wrapper__b4HH9 .slider-container__t4rZM {
  width: 100%;
}
.slider-wrapper__b4HH9 .slider-container__t4rZM .slider__Gl1ox {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 4px;
  height: 8px;
  margin: 0;
  outline: none;
  padding: 0;
  width: 100%;
}
.slider-wrapper__b4HH9 .slider-container__t4rZM .slider__Gl1ox:focus-visible {
  box-shadow: none;
  outline: var(--focus_outline);
  outline-offset: 8px;
}
.slider-wrapper__b4HH9
  .slider-container__t4rZM
  .slider__Gl1ox::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--slider_knob);
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  transition:
    box-shadow 0.2s ease,
    background 0.2s ease;
  width: 24px;
}
.slider-wrapper__b4HH9
  .slider-container__t4rZM
  .slider__Gl1ox::-moz-range-thumb {
  background: var(--slider_knob);
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  transition:
    box-shadow 0.2s ease,
    background 0.2s ease;
  width: 18px;
}
.slider-wrapper__b4HH9 .slider-container__t4rZM .slider__Gl1ox.active__zlccx {
  box-shadow: var(--slider_active_shadow);
}
.slider-wrapper__b4HH9
  .slider-container__t4rZM
  .slider__Gl1ox.active__zlccx::-webkit-slider-thumb {
  background: var(--slider_active_knob);
  box-shadow: var(--slider_active_knob_shadow);
}
.slider-wrapper__b4HH9
  .slider-container__t4rZM
  .slider__Gl1ox.active__zlccx::-moz-range-thumb {
  background: var(--slider_active_knob);
  box-shadow: var(--slider_active_knob_shadow);
}
.slider-wrapper__b4HH9.disabled__FdGPx {
  cursor: not-allowed;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  outline: none;
  pointer-events: none;
}
.slider-wrapper__b4HH9.disabled__FdGPx .slider__Gl1ox::-webkit-slider-thumb {
  background: var(--slider_disabled_knob);
  box-shadow: none !important;
}
.slider-wrapper__b4HH9.disabled__FdGPx .slider__Gl1ox::-moz-range-thumb {
  background: var(--slider_disabled_knob);
  box-shadow: none !important;
}
.e-diagram div::-webkit-scrollbar {
  width: 16px;
}
.e-diagram div::-webkit-scrollbar-track {
  background: #d4d4d4;
  border: none;
  border-radius: 4px;
  outline: none;
}
.e-diagram div::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 4px;
}
.e-diagram div::-webkit-scrollbar-thumb:hover {
  background: #737373;
}
.tree-diagram-main__x7ieR {
  border: var(--tree_diagram_border);
  position: absolute;
}
.tree-diagram-main__x7ieR:focus-visible {
  box-shadow: var(--focus_box_shadow);
  outline: var(--focus_outline);
}
.tree-diagram-main__x7ieR .tree-diagram-content__ZLQpp {
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.tree-diagram-main__x7ieR
  .tree-diagram-content__ZLQpp
  .tree-diagram-editor__DlAvq {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.tree-diagram-main__x7ieR
  .tree-diagram-content__ZLQpp
  .tree-diagram-bar__xTWlK {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-items: center;
  justify-content: flex-start;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background-color: var(--tree_diagram_zoom_bg);
  border-top: var(--tree_diagram_border);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}
.tree-diagram-main__x7ieR .task-send-icon__CMVZB path {
  fill: var(--tree_diagram_send_fg);
  stroke: unset;
}
.tree-diagram-main__x7ieR .tree-btn-content__Kka2C {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  justify-content: space-between;
  width: 65%;
}
.tree-diagram-main__x7ieR .tree-btn-content__Kka2C,
.tree-diagram-main__x7ieR .tree-con-left___UUKd {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.tree-diagram-main__x7ieR .tree-con-left___UUKd {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.tree-diagram-main__x7ieR .tree-con-right__AaKBm {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: stretch;
}
.tree-diagram-main__x7ieR .tree-con-right__AaKBm,
.tree-diagram-main__x7ieR .tree-panel-btn__Rqs8j {
  -webkit-align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-content: stretch;
  align-items: center;
}
.tree-diagram-main__x7ieR .tree-panel-btn__Rqs8j {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  background-color: var(--tree_diagram_btn_bg);
  border-radius: 4px;
  color: var(--tree_diagram_btn_fg);
  font-size: 9pt;
  font-weight: 300;
  height: 24px;
  line-height: 26px;
  margin-left: 15px;
  padding: 5px;
  width: 32px;
}
.tree-diagram-main__x7ieR .print-icon__fCppu {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  cursor: pointer;
  height: 24px;
  width: 24px;
}
.tree-diagram-main__x7ieR .print-icon__fCppu svg {
  height: 14px;
  width: 14px;
}
.tree-diagram-main__x7ieR .print-icon__fCppu svg path {
  fill: var(--tree_diagram_btn_fg);
}
.tree-diagram-main__x7ieR .tree-minimap-con__udFJf {
  background-color: var(--tree_diagram_minimap_bg);
  border: var(--tree_diagram_minimap_border);
  bottom: 25px;
  box-shadow: var(--tree_diagram_minimap_shadow);
  height: 200px;
  left: 100px;
  padding: 0;
  position: absolute;
  right: 0;
  width: 400px;
}
.tree-diagram-main__x7ieR .tree-sm-con__aE2Uk {
  background-color: var(--tree_sm_bg);
  border: var(--tree_sm_border);
  box-shadow: var(--tree_diagram_minimap_shadow);
  height: unset;
  position: fixed;
  width: 150px;
}
.tree-diagram-main__x7ieR .tree-sm-con__aE2Uk .tree-sm-el__BdZMn {
  background-color: var(--tree_sm_el_bg);
  border-bottom: var(--tree_sm_el_border);
  color: var(--tree_sm_el_fg);
  height: 32px;
  line-height: 32px;
  padding-left: 5px;
  width: 100%;
}
.tree-diagram-main__x7ieR .tree-sm-con__aE2Uk .tree-sm-el__BdZMn:hover {
  background: var(--tree_sm_el_hover_bg);
  border-left: var(--tree_sm_el_hover_border);
  color: var(--tree_sm_el_hover_fg);
}
.tree-diagram-main__x7ieR .tree-diagram-filter-editor__Zw1XW {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-items: center;
  justify-content: flex-start;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background-color: var(--tree_filter_input_bg);
  border: var(--tree_filter_input_border);
  height: 22px;
  position: absolute;
  right: 20px;
  width: 30%;
}
.tree-diagram-main__x7ieR .tree-diagram-filter-editor__Zw1XW input {
  background-color: var(--tree_filter_input_bg);
  background-size: 10px 10px;
  border: 0;
  box-sizing: border-box;
  color: var(--tree_filter_input_fg);
  font-family: Arial;
  font-size: 9pt;
  height: 20px;
  line-height: 9pt;
  padding: 0 4px 0 2px;
  text-align: left;
  width: calc(100% - 25px);
}
.tree-diagram-main__x7ieR .tree-diagram-filter-editor__Zw1XW input:focus {
  background-color: transparent;
  color: var(--tree_filter_input_focus_fg);
  outline: none;
}
.tree-diagram-main__x7ieR
  .tree-diagram-filter-editor__Zw1XW
  input
  input:-webkit-autofill,
.tree-diagram-main__x7ieR
  .tree-diagram-filter-editor__Zw1XW
  input
  input:-webkit-autofill:active,
.tree-diagram-main__x7ieR
  .tree-diagram-filter-editor__Zw1XW
  input
  input:-webkit-autofill:focus,
.tree-diagram-main__x7ieR
  .tree-diagram-filter-editor__Zw1XW
  input
  input:-webkit-autofill:hover {
  -webkit-box-shadow: var(--tree_filter_input_shadow) !important;
}
.tree-diagram-main__x7ieR
  .tree-diagram-filter-editor__Zw1XW
  input::-webkit-input-placeholder {
  color: var(--tree_filter_input_placeholder_fg);
  font-size: 0.9em;
  font-style: italic;
}
.tree-diagram-main__x7ieR
  .tree-diagram-filter-editor__Zw1XW
  input:-moz-placeholder,
.tree-diagram-main__x7ieR
  .tree-diagram-filter-editor__Zw1XW
  input::-moz-placeholder {
  color: var(--tree_filter_input_placeholder_fg);
  font-size: 0.9em;
  font-style: italic;
}
.tree-diagram-main__x7ieR
  .tree-diagram-filter-editor__Zw1XW
  input:-ms-input-placeholder {
  color: var(--tree_filter_input_placeholder_fg);
  font-size: 0.9em;
  font-style: italic;
}
.tree-diagram-main__x7ieR .tree-diagram-filter-editor__Zw1XW .icon__WBgJL {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-content: stretch;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  cursor: pointer;
  display: none;
  height: 16px;
  width: 16px;
}
.tree-diagram-main__x7ieR .tree-diagram-filter-editor__Zw1XW .icon__WBgJL svg {
  height: 14px;
  width: 14px;
}
.tree-diagram-main__x7ieR
  .tree-diagram-filter-editor__Zw1XW
  .icon__WBgJL
  svg
  path {
  fill: var(--tree_filter_input_icon_fg);
}
.tree-diagram-main__x7ieR .tree-diagram-filter-editor__Zw1XW .showIcon__DWZJ6,
.tree-diagram-main__x7ieR
  .tree-diagram-filter-editor__Zw1XW:focus-within
  .icon__WBgJL {
  display: block;
}
.tree-diagram-main__x7ieR
  .tree-diagram-filter-editor__Zw1XW:focus-within
  .icon__WBgJL {
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-name: getInItsFun__cw9_U;
  -webkit-animation-name: getInItsFun__cw9_U;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}
.tree-diagram-main__x7ieR .tree-tooltip-con___xt5U {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-align-items: flex-start;
  justify-content: flex-start;
  -ms-flex-align: start;
  -webkit-align-content: flex-start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  background-color: var(--tooltip_bg);
  border: var(--tooltip_border);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  color: var(--tooltip_fg);
  display: inline-block;
  font-size: 9pt;
  min-height: 30px;
  min-width: 50px;
  opacity: 0.95;
  padding: 4px 6px;
  position: fixed;
  text-align: center;
  visibility: hidden;
  z-index: 250000;
}
.tree-diagram-main__x7ieR
  .tree-tooltip-con___xt5U
  .tree-tooltip-caption__uxdEG {
  font-weight: 700;
}
@keyframes getInItsFun__cw9_U {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  60% {
    opacity: 0.6;
    -webkit-transform: translateX(0);
  }
  80% {
    opacity: 0.8;
    -webkit-transform: translateX(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
.e-adorner-layer .e-diagram-border,
.e-adorner-layer .e-diagram-selection-indicator,
.e-adorner-layer .e-diagram-selector {
  stroke: unset;
}
.e-diagram-resize-handle.e-disabled {
  visibility: hidden;
}
